*{
    margin: 0px;
    padding: 0px;
}
html{
    color: #333;
    padding: 0px;
    margin: 0 auto;
    font-weight: 400;
}
body {
    margin: 0px auto;
    padding: 0px;
    font-family: regular;
    font-family: sans-serif;
    background-color: #f8f8f8 ;
    background-color: #fafbfc !important;
    color: #333 !important;
    font-size: 15px !important;
    font-family: 'Lato', sans-serif !important;
    line-height: 18px !important;
}
p{
    margin:0px;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
h1,h2,h3,h4, h5,h6{
    margin: 0px;
}
ul{
    padding: 0;
    margin: 0px;
}
textarea {
    resize: none !important;
}
button, select{
    cursor: pointer;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}
ul{
    padding:0px;
    margin:0px;
}
img{
    width:100%;
    display:block;
}
a:hover{
    text-decoration: none;
}
a{
    transition: .3s all ease;
}
._text_center{
    text-align: center;
}
._text_right{
    text-align: right;
}
._text_left{
    text-align: left;
}
._content0 {
    padding-top: 0px;
}
._content {
    padding-top: 96px;
}
._content2 {
    padding-top: 77px;
}
._text_overflow{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
._text_overflow2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}
._text_overflow3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
}
._text_overflow_height{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
._overflow_hidden{
    overflow: hidden;
}
._border_radious{
    border-radius: 8px;
}
._border_radious2{
    border-radius: 4px;
}
._border_rad3{
    border-radius: 3px;
}
._border_rad4{
    border-radius: 4px;
}
._cursor{
    cursor: pointer;
}
._active {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    position: absolute;
    border: 2px solid #fff;
}
/*background color*/
._bg{
    background: #26b7ad;
}
._bg2 {
    background: #f9f9f9;
}
._bg3{
    background: #eefcfc;
}
._2bg{
    background: #e1eaf8;
}
._3bg{
    background: #eae0fc;
}
._4bg {
    background: linear-gradient(to right, rgb(218, 229, 245) 0%, rgba(248,249,250,1) 100%);
}
/*background color end*/

/*border color*/
._border_color{
    border-color: #e7e7e7 !important;
}
._1border_color{
    border-color: #e7e7e7 !important;
}
._2border_color {
    border-color: #cde3f7 !important;
}
._border_color2 {
    border-color: #cde3f7 !important;
}
._border_colorB{
    border-color: #26b7ad !important;
}
/*box shadow*/
._box_shadow {
    background: #fff;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
    /* box-shadow: 0px 1px 8px -3px rgba(88, 88, 88, 0.25); */
}
._box_shadow2 {
    background: #fff;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}
._1box_shadow {
    background: #fff;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
    /* box-shadow: 0px 1px 8px -3px rgba(88, 88, 88, 0.25); */
}
._2box_shadow {
    background: #fff;
    box-shadow: 0px 3px 21px -2px rgba(149, 149, 247, 0.25);
}
._3box_shadow {
    background: #fff;
    box-shadow:0px 0px 13px 5px #dddddd24;
}
._4box_shadow {
    background: #fff;
    box-shadow: 0px 5px 14px 0px rgba(197, 195, 195, 0.25);
}
/*Display*/
._flex_row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._dis_flex{
    display:flex;
}
._flex_space{
    flex:1 1;
}
._flex_auto{
    flex: 0 0 auto;
}
/*Color*/
._1color {
    color: #1d65e4;
}
._2color {
    color: #606b7b;
}
._white{
    color: #fff;
}
/*Color end*/

/*margin left*/
._mar_l5{
    margin-left: 5px;
}
._mar_l10{
    margin-left: 10px;
}
._mar_l15{
    margin-left: 15px;
}
._mar_l20{
    margin-left: 20px;
}
._mar_l25{
    margin-left: 25px;
}
._mar_l30{
    margin-left: 30px;
}
._mar_l35{
    margin-left: 35px;
}
._mar_l40{
    margin-left: 40px;
}


/*margin left*/
._mar_r5{
    margin-right: 5px;
}
._mar_r10{
    margin-right: 10px;
}
._mar_r15{
    margin-right: 15px;
}
._mar_r20{
    margin-right: 20px;
}
._mar_r25{
    margin-right: 25px;
}
._mar_r30{
    margin-right: 30px;
}
._mar_r35{
    margin-right: 35px;
}
._mar_r40{
    margin-right: 40px;
}

/*margin top*/
._mar_t5{
    margin-top: 5px;
}
._mar_t10{
    margin-top: 10px;
}
._mar_t15{
    margin-top: 15px;
}
._mar_t20{
    margin-top: 20px;
}
._mar_t25{
    margin-top: 25px;
}
._mar_t30{
    margin-top: 30px;
}
._mar_t35{
    margin-top: 35px;
}
._mar_t40{
    margin-top: 40px;
}

/*margin bottom*/
._mar_b10{
    margin-bottom: 10px;
}
._mar_b15{
    margin-bottom: 15px;
}
._mar_b20{
    margin-bottom: 20px;
}
._mar_b25{
    margin-bottom: 25px;
}
._mar_b30{
    margin-bottom: 30px;
}
._mar_b35{
    margin-bottom: 35px;
}
._mar_b40{
    margin-bottom: 40px;
}
._mar_b45{
    margin-bottom: 45px;
}
._mar_b50{
    margin-bottom: 50px;
}

/*padding top*/
._padd10{
    padding:18px 10px;
}
._padd15{
    padding: 15px;
}
._padd20{
    padding: 20px;
}


._padd_t10{
    padding-top: 10px;
}
._padd_t15{
    padding-top: 15px;
}
._padd_t20{
    padding-top: 20px;
}
._padd_t25{
    padding-top: 25px;
}
._padd_t30{
    padding-top: 30px;
}
._padd_t35{
    padding-top: 35px;
}
._padd_t40{
    padding-top: 40px;
}
._padd_t45{
    padding-top: 45px;
}

/*Padding Bottom*/
._padd_b5{
    padding-bottom: 5px;
}
._padd_b10{
    padding-bottom: 10px;
}
._padd_b15{
    padding-bottom: 15px;
}
._padd_b20{
    padding-bottom: 20px;
}
._padd_b25{
    padding-bottom: 25px;
}

/*padding left*/
._padd_l0{
    padding-left: 0px;
}
._padd_l5{
    padding-left: 5px;
}
._padd_l10{
    padding-left: 10px;
}
._padd_l15{
    padding-left: 15px;
}
._padd_l20{
    padding-left: 20px;
}
._padd_l25{
    padding-left: 25px;
}
._padd_l30{
    padding-left: 30px;
}

/*padding right*/
._padd_r0{
    padding-right: 0px;
}
._padd_r5{
    padding-right: 5px;
}
._padd_r10{
    padding-right: 10px;
}
._padd_r15{
    padding-right: 15px;
}
._padd_r20{
    padding-right: 20px;
}
._padd_r25{
    padding-right: 25px;
}
._padd_r30{
    padding-right: 30px;
}

._logo {
    width: inherit;
    height: 50px;
    margin: 0 auto;
}
/*BUTTONS*/
._1button {
    display: flex;
    align-items: center;
}
._1button button:last-child{
    margin-left: 10px;
}
._1btn {
    border: none;
    text-transform: capitalize;
    padding: 0 11px;
    margin: 0;
    color: #fff;
    height: 36px;
    transition: .2s all ease;
    font-size: 15px;
    background-color: #3177f1;
    font-weight: bold;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    line-height: 1;
}
._1btn:hover {
    background: #125de0;
    color: #fff;
}
._1btn img {
    width: 19px;
    margin: 0 6px 0 0;
    display: inline-block;
}
._2btn:hover i{
    padding: 15px 0px;
    -webkit-animation: btn 1s infinite; 
    animation: btn 1s infinite;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
}
@keyframes btn {
    0% {
        right: 25px;
        opacity: 1;
    }
    100% {
        right: -20px;
        opacity: 0;
    }
}
._2btn i {
    position: absolute;
    right: 18px;
    top: 11px;
    font-size: 29px;
}
._2btn {
    border: 1px solid #3177f1;
    text-transform: capitalize;
    color: #fff;
    padding: 4px 49px 4px 27px;
    margin: 0;
    transition: .2s all ease;
    font-size: 16px;
    background-color: #3177f1;
    height: 51px;
    min-width: 100px;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
}
._2btn:hover {
    background: #3177f1;
    color: #fff;
    border-color: #3177f1 !important;
}
._3btn {
    border: none;
    text-transform: capitalize;
    padding: 0px 24px;
    margin: 0;
    transition: .2s all ease;
    font-size: 12px;
    background-color: #272727;
    height: 32px;
    min-width: 100px;
    color: #ddd;
    font-size: 16px;
    border-radius: 4px;
}
._3btn:hover{
    opacity: .9;
}
._4btn {
    border: none;
    text-transform: capitalize;
    padding: 0px 24px;
    margin: 0;
    transition: .2s all ease;
    font-size: 12px;
    background-color: transparent;
    height: 32px;
    min-width: 100px;
    color: #222;
    font-size: 16px;
    border-radius: 4px;
}
._4btn:hover{
    background: #ddd;
}
._5btn {
    border: none;
    text-transform: capitalize;
    padding: 0 11px;
    margin: 0;
    color: #3177f1;
    height: 36px;
    transition: .2s all ease;
    font-size: 15px;
    background-color: #e4e4ff;
    font-weight: bold;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    line-height: 1;
}
._5btn:hover {
    background: #c6c6f5;
}
._5btn img {
    width: 19px;
    margin: 0 6px 0 0;
    display: inline-block;
}
._6btn:hover i{
    -webkit-animation: btn 1s infinite; 
    animation: btn 1s infinite;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
}
._7btn {
    border: none;
    text-transform: capitalize;
    padding: 0 17px;
    margin: 0;
    color: #3177f1;
    height: 36px;
    transition: .2s all ease;
    font-size: 15px;
    background-color: transparent;
    font-weight: bold;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid #3177f1;
}
._7btn:hover {
}
._7btn img {
    width: 19px;
    margin: 0 6px 0 0;
    display: inline-block;
}
._mar0{
    margin: 0px !important;
}
@keyframes btn {
    0% {
        right: 8px;
        opacity: 1;
    top: -3px;
    }
    100% {
        right: -30px;
        opacity: 0;
    top: -3px;
    }
}
._6btn i {
    position: absolute;
    right: -3px;
    top: -3px;
    font-size: 29px;
}
._6btn {
    border: none;
    color: #3177f1;
    transition: .2s all ease;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    padding-right: 25px;
    line-height: 20px;
}
._6btn:hover {
    color: #125de0;
}
._fac_btn i{
    margin-right: 7px;
}
._fac_btn {
    flex: 1;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 0;
    font-size: 14px;
    padding: 9px 0;
    transition: .3s;
    border-color: #3b5998;
    color: #3b5998;
    background: transparent;
    width: 100%;
    background: #3b5998;
    color: #fff;
    height: 38px;
    padding: 0 23px;
}
._fac_btn:hover{
    background: #3b5998;
    color: #fff;
}
/*TITLES*/
._1link{
    color: #333;
    cursor: pointer;
    transition: .3s color ease;
}
._1link a:hover {
    color: #3177f1;
}
._2link{
    cursor: pointer;
    transition: .3s all ease;
    color: #3177f1;
}
._2link:hover {
    color: #125de0;
}
._title {
    font-weight: bold;
    font-size: 14px;
}
._1title {
    font-size: 33px;
    font-weight: bolder;
}
._2title {
    font-size: 18px;
    font-weight: bold;
}
._3title{
    font-size: 14px;
    font-weight: bold;
}
._4title{
    font-size: 25px;
    font-weight: bolder;
}
._1text {
    font-size: 14px;
    line-height: 22px;
}
._2text {
    font-size: 18px;
    line-height: 30px;
}
/*TITLES END*/
._1input_group {
    margin: 0 00 20px;
}
._1label {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}
._3label {
    color: #6f3088;
    font-size: 14px;
    margin-bottom: 4px;
}
._3input_group{
    margin-bottom: 15px;
}
._3input_button{
    margin-top: 20px;
}
._3int {
    width: 100%;
    border: none;
    height: 32px;
    font-size: 14px;
    padding: 0 15px 0;
    border: 1px solid #5f5e5e;
    background: transparent;
    border-radius: 6px;
}
._3int:focus{
    
}
._1int {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 15px;
    padding: 0 15px 0;
    border: 1px solid #eceeef;
    background: #f5f7fa;
    border-radius: 2px;
    transition: .3s all ease;
}
._1int:focus {
    box-shadow: 0px 0px 5px -1px #3177f159;
    border: 1px solid #3177f140;
}
._2input_group {
    margin-bottom: 20px;
}
._2input_group{}
._2label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #f6f6f6;
}
._2int::placeholder{
    color: #222;
}
._2int {
    width: 100%;
    background: #e6e6e6;
    border: transparent;
    height: 32px;
    padding: 0 16px 1px;
    font-size: 14px;
    font-weight: 200;
    color: #1a0235;
    border-radius: 4px;
}
._2int:focus{}
._1textarea {
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #eceeef;
    background: #f5f7fa;
    border-radius: 2px;
    transition: .3s all ease;
}
._1textarea:focus{
        box-shadow: 0px 0px 5px -1px #3177f159 !important;
    border: 1px solid #3177f140 !important;
}
._fixed{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 11;
}
._my_container {
    padding-left: 15px;
    padding-right: 15px;
}

._pagination{
    justify-content: center;
}
._pro_rel{
    position: relative;
}