/*mobile*/
@media only screen and (max-width: 767px) { 
.new-filter  {
    display: block;
}
.right-arrow-action {
    display: block;
}
.mobile-filter-full {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 100%;
    background: rgba(0, 0, 0, 0.56);
    padding: 0 0px 40px 15px;
    height: 100%;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s linear;
}

.mobile-filter-full.active {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
}

.mobile-filter-full .menu_list_left {
    background: #fff;
    overflow-y: scroll;
    height: 100vh;
    width: 70%;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-left: 20px;
}
.food_slider .owl-nav div {
    left: 0;
}
.food_slider .owl-nav div.owl-next {
    right: 0px;
    left: auto;
}
p {
    font-size: 14px;
}
._mar_b30 {
    margin-bottom: 20px;
}
.topbar_main, .main_menu {
    display: block;
}
.topbar_left {
    text-align: center;
}
.topbar_right {
    text-align: center;
    margin-top: 8px;
}
.logo {
    width: 136px;
}
/* Mobile Menu */
.header_nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.mobile-menu {
    display: block;
    position: absolute;
    top: 71px;
    background-color: #fff;
    width: 100%;
    z-index: 111;
    transition: all .1s;
}
.menu_area{
    display: none!important;
}
.mobile_menu_area {
    position: fixed;
    background: #fff;
    height: 100vh;
    left: 0;
    top: 0;
    width: 223px;
    z-index: 111111;
    left: 0px;
    transition: .3s all ease;
    display: none;
}
.mobile_menu_area::before {
    position: fixed;
    content: '';
    background: #3a363687;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: .3s all ease;
    left: 0;
}
.mobile_navbar_home {
    width: 100%;
    position: fixed!important;
    top: 0!important;
    z-index: 111;
    background-color: #fff;
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
}
.notification_title {
    font-size: 14px;
}
.video_area {
    top: 10%;
    padding: 0px 20px;
     height: 297px;
}
.video_toggle {
    top: 11px;
    z-index: 111;
}
.topbar_area {
    z-index: 1111;
}
.nav {
    background: #fff;
    transform: translateY(2px);
    position: absolute;
    left: 0;
    width: 100%;
    top: -3px;
    border-radius: 0 0 5px 5px;
    box-shadow: -3px 5px 21px -2px rgba(149, 149, 247, 0.36);
    height: 100%;
    padding: 32px 0px;
}
.nav_list {
    width: 100%;
}
.mobile_menu_close {
    background-color: #fff;
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 999;
    font-size: 17px;
    cursor: pointer;
}
.nav_list li {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px 15px;
}
.sub-menu {
    position: static;
    width: 100%;
    box-shadow: 0 12px 19px -3px #21252914;
    margin-top: 5px;
}
.mobile_toggle {
    align-items: center;
    display: flex;
    font-size: 22px;
    z-index: 1111;
}
/* Banner */
.banner_left {
    width: 98%;
}
.title {
    font-size: 31px;
    line-height: 45px;
}
.food {
    font-size: 38px;
}
.video-popup {
    width: 70px;
    height: 52px;
    border: 10px solid #e85422b5;
    font-size: 12px;
    line-height: 26px;
}
.about_right {
    margin-top: 15px;
    position: inherit;
}
.section_title {
    font-size: 30px;
}
.top_item_img {
    width: 206px;
    height: 202px;
    margin: 0 auto 30px auto;
}
.top_item_img img {
    height: 100%;
}
.food_img img {
    width: 44%;
    height: 133px;
    margin: 0 auto 10px;
}
.cta_slider .owl-nav div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: -10px;
    font-size: 14px;
}
.cta_left img {
    width: 100%!important;
    height: 260px;
}
.cta_title {
    font-size: 32px;
}
.cta_right {
     margin-top: 20px;
    position: inherit;
    top:inherit;
    transform: none;
}
.cta_slider .owl-nav div {
    z-index: 1;
}
.block_btn {
    padding: 4px 16px;
    font-size: 13px;
}
.gallery_item {
    height: 65px;
    margin-right: 3px;
}
.gallery_expand {
    font-size: 16px;
}
.contact_left {
    margin-bottom: 20px;
    padding: 14px;
}
.subscribe {
    font-size: 22px;
    line-height: 32px;
}
.subscribe_area input[type="email"] {
    padding: 5px 10px;
    width: 199px;
    font-size: 14px;
    margin-bottom: 12px;
}
.subscribe_area input[type="submit"] {
    padding: 6px 20px;
    cursor: pointer;
    font-size: 12px;
}
._padd_tb60 {
    padding: 40px 0px;
}


.blogall_item_left img, .blog_img img {
    height: 210px;
}
.blog_cont1 {
    top: 168px;
}


/* About Page */
.about_cta_title {
    line-height: 36px;
    font-size: 22px;
    margin-bottom: 10px;
}
.about_cta_img img {
    width: 160px;
    height: 138px;
    margin: 0 auto;
}
.about_cta {
    display: block;
}
.about_cta_btn {
    width: 100%;
}
.testimonial_slider .owl-nav div {
    right: -15px;
}
.testimonial_slider .owl-nav .owl-prev {
    left: -15px;
}
/* Blog Page */
.blogp_img img {
    height: 206px;
}
.blog_des_title {
    font-size: 26px;
    line-height: 32px;
}
.blogp_list {
    margin-left: 20px;
}
.post_left{
    position: relative;
}
.post_left img {
    height: 71px;
    width: 88px;
}
.post_right_date {
    /* position: absolute; */
    top: -46px;
    left: 106px;
}
.post_right {
    padding-left: 0px;
    margin-top: 5px;
}
.instra_item img {
    width: 112px;
}
.blog_contact_form {
    margin-bottom: 25px;
}

/* Reservation */
.reservation_left {
    position: inherit;
}
.reservation_right {
    margin-top: 25px;
    padding: 30px;
}
/* Contact */
.contactp_form .contact_form{
    width: 100%;
}
.single_con_info {
    margin-bottom: 25px;
}


/* Menu 2 */
.menu_list_search {
    display: block;
}
.list_grid {
    margin-bottom: 10px;
}
.menu_list_item_middle_title {
    font-size: 17px;
}
.menu_list_item_sub{
        display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu_list_item_right {
    width: 8%;
}
.menu_list_item_price {
    font-size: 18px;
}
.menu_list_item_left {
    width: 24%;
}
.menu_list_item_middle .block_btn {
    padding: 2px 15px;
    font-size: 12px;
}
.login_header_area .menu_area{
    display: block!important;
}
.welcome {
    font-size: 22px;
}
.home2_title {
    font-size: 30px;
    margin-bottom: 20px;
}
.home2_sub {
    margin-bottom: 22px;
}
.section_title {
    font-size: 25px;
}
/* Menu 3 */
ul.profile-nav-list li .row {
    flex-wrap: inherit;
}
/* Food Details */
.swiper-wrapper{
    height:250px;
}
.swiper-wrapper-bottom{
    height:60px;
}
.food_cont_title {
    width: 183px;
}
.food_price:after {
    width: 30px;
    left: -45px;
}
.sub_banner {
    padding: 196px 0px 80px 0px;
}
.sub_banner_title {
    font-size: 32px;
}
.blog_contact_form input[type="text"], .blog_contact_form input[type="email"] {
    width: 100%!important;
}
/* Blog List */
.blogall_item_middle {
    padding: 15px 33px 15px 15px;
    position: relative;
}
.blogall_item_right {
    position: absolute;
    top: -171px;
    right: 15px;
}
/* ___________ */
.con_info_top h3 {
    font-size: 27px;
}
.con_info_bottom img {
    width: 63px;
    height: 57px;
}
.banner_area2 {
    height: 70vh;
}

.food_p_item_middle {
    margin-bottom: 30px;
}
.food_p_item_img img {
    height: 158px;
    width: 218px;
    margin: 0 auto;
    position: static;
    transform: rotateY(45deg);
}
.food_p_item_title {
    width: 100%;
}
/* Reservation */
.payment_area {
    width: 90%;
    padding: 20px;
}
.advanced_payment {
    bottom: 77px;
    left: 45px;
}
.reservation-btn {
    text-align: left;
}
.reservation-btn input[type="submit"] {
    margin-top: 40px;
}
.food_p_item_cont {
    padding: 15px 0px;
    text-align: center;
}
.aboutp_left {
    margin-bottom: 20px;
}
.contact_form textarea {
    width: 310px;
}
.contact_right {
    margin-left: 0px;
    margin-top: 30px;
    position: inherit;
    top: inherit;
    transform: inherit;
}
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
   margin-right: 0px;
    width: 100%;
}
.contact_form textarea {
    width: 100% !important;
}




.menu_list_item3 {
    display: block;
}
.menu3_list_item_left {
    width: 50%;
    margin: 0 auto 13px auto;
}
.menu3_list_item_left img {
    margin: 0 auto;
}
.menu3_list_item_middle {
    width: 100%;
    margin-left: 0px;
    text-align: center;
}
.contact_p_right_cont {
    width: 100%;
}

.new-row {
    display: flex;
    flex-flow: column-reverse;
}

.testimonial_right img {
    height: 200px;
    object-fit: contain;
    object-position: 50%;
}



}


/* ipad Tablet Layout: 768px._________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.new-justify-content-center .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
}
.new_food_p_item_left .new-col-md-12 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
p {
    font-size: 14px;
}
._mar_b30 {
    margin-bottom: 25px;
}
._mar_b20 {
    margin-bottom: 15px;
}
._padd_tb60 {
    padding: 48px 0px;
}
.logo {
    width: 135px;
}
.nav_list li a, .nav_list li span {
    font-size: 15px;
}
.nav_list li {
    margin-right: 10px;
}
.title {
    font-size: 40px;
}
.food_cont_title:after {
    display: none;
}
.cta_left img {
    width: 100%!important;
    height: 310px;
}
.cta_area {
    height: 60vh;
}
.blog_img img {
    height: 212px;
}
.blog_cont1 {
    top: 168px;
    left: 10px;
}
.gallery_item img {
    height: 120px;
    transition: .4s;
}
.blog_title {
    font-size: 19px;
    line-height: 26px;
}

.gallery_area {
    /* height: 21vh; */
}

/* About Page */
.about_cta_img img {
    width: 146px;
    height: 145px;
}
.about_cta_title {
    line-height: 36px;
    font-size: 24px;
}
.white_border_btn {
    padding: 9px;
    font-size: 15px;
}
.about_cta_btn {
    width: 55%;
}

/* Blog Page */
.blogp_img img {
    height: 300px;
}
.blog_des_title {
    font-size: 27px;
    line-height: 35px;
}
.blog_contact_form input[type="text"], .blog_contact_form input[type="email"] {
    width: 218px!important;
}
.blog_sidebar_item {
    padding: 17px 15px;
}
.blog_search i {
    top: 30px;
    right: 25px;
}
.post_right_cont {
    font-size: 13px;
    line-height: 20px;
}
.instra_item:nth-child(2n) {
    margin-right: 0px!important;
}
.instra_item img {
    height: 75px;
    width: 88px;
}
.contactp_form .contact_form {
    width: 70%;
}
/* Menu 2*/
.menu_list_item_middle_title {
    font-size: 19px;
}
.menu_list_item_middle .block_btn {
    padding: 3px 17px;
    font-size: 12px;
}
.menu_list_item_price {
    font-size: 18px;
}
.menu_list_type_area select {
    font-size: 14px;
}

/* Menu  1 */
.food_p_single_item {
    padding: 10px 12px;
}
.food_p_item_img img {
    height: 60px;
}
.food_p_item_title {
    font-size: 16px;
    margin-bottom: 3px;
}
.food_p_item_price {
    font-size: 15px;
}
/* Food Details */
.swiper-wrapper{
    height:280px;
}
.swiper-wrapper-bottom{
    height:80px;
}
.food_details_list {
    font-size: 15px;
}
.related_item_img img {
    height: 145px;
}
.related_item_title {
    font-size: 17px;
}
.cta_left img {
    height: 283px;
}
.home2_title {
    font-size: 40px;
}
.banner_main2 {
    width: 77%;
}
.cta_slider .owl-nav div {
    width: 35px;
    height: 35px;
    line-height: 35px;
    bottom: 52px;
    right: -30px;
}
.cta_slider .owl-nav div.owl-prev {
    bottom: 12px;
}
.chef_social_list li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.post_left img {
    height: 56px;
}
.blogall_item_left img {
    height: 208px;
}
.blog-social {
    width: 36px;
    float: right;
}
.food_p_item_middle img {
    margin: 30px 0px;
}


.reservation-btn {
    text-align: left;
}
.reservation-btn input[type="submit"] {
    margin-top: 55px;
}
.advanced_payment {
    bottom: 100px;
}

.top_item_img {
    width: 206px;
    height: 204px;
    margin: 0 auto 30px auto;
}
.top_item_img img {
    height: 163px;
}
.food_p_item_img img {
    height: 89px;
    width: 126px;
    position: static;
    transform: rotateY(45deg);
    margin: 0 auto;
}
.food_p_item_title {
    width: 100%;
}
.food_p_item_cont {
    padding: 12px 0px;
    text-align: center;
}
.food_btn {
    margin-top: 5px;
    font-size: 14px;
}



.banner_area {
    height: 70vh;
}
.cta_title {
    font-size: 32px;
}
.sub-menu {
    margin-top: 19px;
}
.navbar_home .sub-menu {
    margin-top: 21px;
}




.gallery_item {
    height: 120px;
}
.contact_form input[type="text"] {
    margin-right: 0px;
}
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea {
    width: 280px;
}
.contact_form textarea {
    width: 280px;
}
.menu3_list_item_left {
    width: 50%;
    margin: 0px auto 20px auto;
}
.menu3_list_item_middle {
    width: 100%;
}
.menu_list_item3 {
    display: block;
}
.menu3_list_item_left img {
    margin: 0 auto;
}
.new-tab-flex {
    
}
.new-tab-flex .col-md-4 {
    flex: 0 0 40%;
    max-width: 40%;
}
.new-tab-flex .col-md-7 {
    flex: 0 0 50%;
    max-width: 50%;
}
.new-tab-flex .col-md-1 {
    flex: 0 0 10%;
    max-width: 10%;
}




}


/* Medium Layout: 1280px.__________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.food_p_item_title {
    width: 105px;
}
.food_p_item_img img {
    height: 88px;
}
.food_btn {
    font-size: 13px;
}


.top_item_img img {
    height: 140px;
}
.top_item_title {
    font-size: 19px;
}
.top_item {
    height: 288px;
}
.gallery_item {
    height: 168px;
}
.food_price:after {
    width: 42px;
    left: -55px;
}



}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 499px) { 
    .blog_single_comment_reply {
        margin-left: 10px;
    }
}