/*--------------------
	1.Menu
	2.Footer
	3.Index
	4.Log in
    5.Product
    6.Product Details
    7.Service Page
    8.Profile
    9.ProfileEdit
    10.Service Request
    11.Cart
    12.Cart Edit
    13.Cart Select
    14.Setting
    15.Documentation




---------------------*/

/*========= 1.Menu ========*/
._1menu {
    padding: 30px 0;
    transition: .3s all ease;
}
._1menu_main {
    display: flex;
    align-items: center;
}
._1menu_main{}
._1menu_logo_pic {
    flex: 0 0 15%;
}
._1menu_logo_img{}
._1menu_list {
    flex: 1 1;
    text-align: center;
}
._1menu_list_ul{}
._1menu_list_ul li {
    display: inline-block;
}
._1menu_list_ul li a:hover:before{
	left: 0px;
	color: #3177f1;
	opacity: 1;
}
._1menu_list_ul li a:hover:after{
	right: 0px;
	color: #3177f1;
	opacity: 1;
}
._1menu_list_ul li a:before {
    position: absolute;
    content: '[';
    top: -2px;
    font-size: 15px;
    left: 22px;
    transition: .3s all ease;
    opacity: 0;
    color: #b5adad;
}
._1menu_list_ul li a:hover {
	color: #3177f1;
}
._1menu_list_ul li a:after {
	position: absolute;
    content: ']';
    top: -2px;
    font-size: 15px;
    right: 22px;
    transition: .3s all ease;
    opacity: 0;
}
._1menu_list_ul li a {
    position: relative;
    font-size: 15px;
    color: #b5adad;
    padding: 0 15px 0;
    transition: .3s color ease;
    margin-right: 9px;
}
._1menu_list_ul li:last-child a{
	margin-right: 0px;
}
._1menu_list_active{}
._1menu_list_active a{
	color: #3177f1 !important;
}
._1menu_right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    overflow: hidden;
    justify-content: flex-end;
}
._1menu_card {
    position: relative;
    cursor: pointer;
}
._1menu_pro button{
	width: 100%;
}
._1menu_pro button:nth-child(2){
	margin-left: 10px;
}
._1menu_pro {
    flex: 0 0 auto;
    overflow: hidden;
    padding-left: 0;
    margin-left: 32px;
    display: flex;
}
._1menu_card_img {
    width: 17px;
}
._1menu_card_num {
    position: absolute;
    background: red;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    top: -7px;
    right: -7px;
}
.menu_fixed{
	background: #fff;
	padding: 15px 0px;
	-webkit-animation: mymove .3s; 
    animation: mymove .3s;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
}
@keyframes mymove {
    from {top: 10px;}
    to {top: 00px;}
}
/*========= 1.Menu end ========*/

/*========= 2.Footer ========*/
._1fotter_all:before {
    position: absolute;
    content: '';
    background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    left: 0px;
    top: 43px;
    width: 105%;
    height: 100%;
    z-index: 1;
    transform: rotate(-3.7deg);
}
._1fotter {
    position: relative;
    z-index: 9;
    overflow: hidden;
    padding: 67px 0 0;
    margin-top: -100px;
}
._1fotter_main {
    position: relative;
    z-index: 3;
}
._footer_bac_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/static/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25px right -30px;
    z-index: 1;
    top: -95px;
}
._1fotter_top {
    padding: 78px 0 53px;
}
._1fotter_list{}
._1fotter_list li {
    display: block;
    margin-top: 15px;
}
._1fotter_list li a {
    color: #777;
    font-size: 15px;
}
._1fotter_list li a i {
    font-size: 16px;
    margin-right: 5px;
}
._1fotter_list li a:hover{}
._1fotter_img {
    width: 25px;
    margin-right: 10px;
}
._1fotter_title {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 13px;
}
._1fotter_bottom {
    border-top: 2px solid;
    padding: 27px 0px;
}
._1fotter_bottom_main{
	align-items: center;
}
._1fotter_bottom_title {
    font-weight: bold;
    color: #606b7b;
    flex: 0 0 154px;
    font-size: 18px;
}
._1fotter_bottom_text {
    font-size: 15px;
    color: #a4aeba;
}
/*========= 2.Footer end ========*/

/*========= 3.Index ========*/
._1header {
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    background-size: auto;
    position: relative;
    padding-bottom: 521px;
    padding-top: 72px;
}
._1header_bac_one {
    position: absolute;
    width: 450px;
    top: -165px;
    left: 0;
    z-index: -1;
}
._1header_bac_one img{}
._1header_title {
    color: #000;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 19px;
}
._1latest_Section {
    position: relative;
    margin-top: -287px;
}
._1latest_card {
    padding: 44px 0 0;
}

/*Card one*/
._1card{
    transition: .3s all ease;
}
._1card:hover{
    /*background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);*/
}
._1card_pic {
    padding: 13px;
    height: 410px;
    overflow: hidden;
}
._1card_img{
    height: 100%;
}
._1card_details {
    padding: 15px 13px 25px;
}
._card_title {
    font-size: 18px;
    font-weight: bold;
}
._1card_price_main {
    flex: 0 0 100px;
    text-align: right;
}
._1card_price {
    font-size: 18px;
    font-weight: bold;
}
._1card_title{}
._1card_bottom {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
._1card_status {
    flex: 1 1;
    padding: 0 23px 0 0;
    overflow: hidden;
}
._1card_status_text{}
._1card_rating{}
/*Card one*/

/*Rating*/
._1rating{}
._1rating li:last-child{
    margin-right: 0px;
}
._1rating li {
    display: inline-flex;
    color: #ccbfbf;
    font-size: 26px;
    margin-right: 3px;
    cursor: pointer;
}
._1rating_active {
    color: #efce4a !important;
}
/*Rating*/

._home_button {
    padding-top: 66px;
}
._1popular_Section{}
._1popular_Section ._1title {
    border-top: 1px solid;
    padding: 46px 0 0;
    margin-top: 62px;
}
._1popular_Section ._home_button {
    padding-top: 36px;
}
._1amazing_section {
    position: relative;
    padding: 51px 0 0;
    margin: 96px 0 0;
}
._1amazing_bac_pics:before {
    position: absolute;
    content: '';
    background: linear-gradient(to left, #edeef8 0%, #f4f5f9 100%);
    height: 480px;
    width: 107%;
    left: 50%;
    top: 51px;
    transform: translateX(-50%) rotate(-3.7deg);
    z-index: -1;
}
._1amazing_bac_pics_one{}
._1amazing_bac_pics_two{}
._1amazing_bac_pics_three{}
._1amazing_bac_pic_one {
    width: 130px;
    top: 50%;
    position: absolute;
    left: 34px;
}
._1amazing_bac_pics_two {
    width: 95px;
    top: 30%;
    position: absolute;
    left: 233px;
}
._1amazing_bac_pic_three {
    width: 140px;
    right: 56px;
    position: absolute;
    bottom: 208px;
}
._1amazing_bac_pic_four {
    width: 348px;
    position: absolute;
    right: 35px;
    top: -216px;
}
._1amazing_bac_pics_four{}
._1amazing_bac_pics {
    position: absolute;
    height: 600px;
    overflow: hidden;
    top: -61px;
    left: 0;
    right: 0;
    z-index: -1;
}
._1amazing_section_top{}
._1amazing_section_top ._1text {
    margin-top: 10px;
}
._1amazing_titles {
    margin-bottom: 44px;
}
._1amazing_titles ._2text{
    width: 50%;
    margin: 20px auto 0;
}
._1amazing_section_top_main{}
._1amazing_android {
    display: flex;
    align-items: center;
    padding: 30px 30px;
}
._1amazing_android_pic{}
._1amazing_android_img {
    width: 93px;
    margin-right: 14px;
}
._1glance {
    background-image: url(/static/waveTop.png);
    background-repeat: no-repeat;
    background-size: contain;
}
._1glance_main {
    padding: 23px 0 0;
}
._1glance_top {
    padding: 37px 37px 30px;
    margin-top: -95px;
    margin-bottom: 268px;
}
._1glance_bottom_title {
    font-size: 26px;
    margin: 0 0 9px;
}
._1glance_bottom_main {
    box-shadow: 0px 0px 13px 5px #dddddd24;
    padding: 55px 100px 55px;
    margin-top: 50px;
    background: #fff;
}
._1glance_bottom_main_img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 28px;
}
._1glance_bottom_main_text {
    padding: 0 35px 0;
    position: relative;
}
._speech {
    background: #3177f1;
    position: absolute;
    top: -17px;
    left: 0;
    padding: 6px 7px 7px;
    border-radius: 6px;
}
._speech_img{
    width: 18px;
}
._1glance_pro_name {
    font-size: 27px;
    font-weight: bold;
    margin: 49px 0 1px;
}
._1glance_bottom {
    text-align: center;
}
._1glance_send ._2text {
    margin: 16px 0 22px;
}
._1glance_send {
    padding: 126px 0 38px;
}
._1glance_send_main ._2text {
    margin: 16px 0 26px;
}
._1glance_send_main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59%;
    background: #fff;
    margin: 0 auto 0;
    box-shadow: 0px 0px 13px 5px #dddddd57;
}
._1glance_send_int {
    flex: 1 1;
    height: 45px;
    padding: 0 10px 0;
    border: none;
}
._1glance_send button {
    height: 45px;
}
._1glance_bottom_pic {
    margin-left: -20px;
}
._1glance_bottom_img{}

/*Card Two*/
._2card {
    text-align: center;
    padding: 18px 0 19px;
}
._2card_pic {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    margin: 0 auto 17px;
    box-shadow: 0px 0px 13px 5px #dddddd4d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
._2card_img {
    width: 32px;
}
._2card_details{}
._2card_num {
    font-weight: 900;
    font-size: 33px;
    margin-bottom: 10px;
}
._2card_text {
    font-size: 19px;
}
/*Card Two*/
/*========= 3.Index end ========*/

/*========= 4.Log in =========*/
._1int select option[data-default] {
  color: red;
}
._1login {
    background: url(/static/logbac.png);
    background-repeat: no-repeat;
    background-position: right 13px top 47px;
    background-size: auto;
    position: relative;
    padding-bottom: 223px;
}
._1login:before {
    position: absolute;
    content: '';
    background: -o-linear-gradient(top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
._1login_left_img{}
._1login_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0 0 27px;
}
._1login_left {
    position: absolute;
    padding: 79px 94px 0 0;
}
._1login_right {
    padding: 32px;
    margin-top: 71px;
    width: 376px;
}
._check_Box .ivu-checkbox-wrapper {
    font-size: 15px;
    margin-right: 10px;
    color: #7c8990;
}
._forget{}
._forget a:hover{
	color: blue;
}
._forget a{
	color: #333;
}
.Never{}
._1login_bottom {
    border-top: 1px solid;
    text-align: center;
    padding: 18px 0 0;
    margin: 34px 0 0;
}
._1login_bac {
    
}
._1login_bac_one {
    position: absolute;
    background-image: url(/static/star.png);
    background-repeat: no-repeat;
    bottom: -182px;
    height: 94px;
    width: 94px;
    background-size: cover;
    left: -70px;
}
._1login_bac_two {
    position: absolute;
    background-image: url(/static/Appify.png);
    background-repeat: no-repeat;
    bottom: 150px;
    height: 187px;
    width: 232px;
    background-size: cover;
    right: 60px;
}
._1sign_text {
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
}
/*========= 4.Log in end =========*/

/*========= 5.Product =========*/
._1product{}

/*Header Two*/
._2header {
    background-image: url(heaerimg.png);
    background-repeat: no-repeat;
    background-position: right 20px top 43px;
    background-size: auto;
    position: relative;
    padding-top: 149px;
    height: 527px;
    margin-bottom: -35px;
}
._2header_main {
    width: 37%;
}
._2header_title {
    font-weight: 900;
    color: #000;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 20px;
}
/*Header Two*/

._1product_main {
    position: relative;
    z-index: 1;
}

/*Filter Two*/
._2filter {
    display: flex;
    align-items: center;
}
._2filter_items {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 11px 22px 12px;
    border-radius: 4px;
}
._2filter_items img{
    width: 18px;
}
._2filter_text {
    font-size: 16px;
    color: #555;
}
._2filter_active {
    background: #f2f8ff !important;
    border: 1px solid #98bdff !important;
}
/*Filter Two*/

._1product_all {
    margin-top: 30px;
    padding-bottom: 217px;
}
._1product_all ._1card_pic {
    height: 333px;
}
._1left{}
._1left_main {
    width: 201px;
}

/*Filter One*/
._1filter{}
._1filter_items {
    overflow: hidden;
}
._1filter_title {
    background: #d6e8fb;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 5px 15px 6px;
}
._1filter_list .ivu-checkbox-wrapper {
    font-size: 16px;
    display: block;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
}
._1filter_list {
    padding: 11px 15px;
}
._1filter_list li:last-child {
    margin-bottom: 0px;
}
._1filter_list li {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 7px;
    align-items: center;
}
._1filter_list li:hover{
    color: #3177f1;
}
/*Filter One*/

._1product_bac_logo {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 73%;
}
._1product_bac_logo_img{}
._1product_star {
    position: absolute;
    bottom: -162px;
    left: 20px;
    width: 115px;
    z-index: -1;
}
._1product_star_img{}
/*========= 5.Product end =========*/

/*========= 6.Product Details =========*/
._1productDetails {
    background-image: url(/static/heaerimg.png);
    background-position: right 20px top 24px;
    background-repeat: no-repeat;
    background-size: 873px;
    padding-bottom: 190px;
    position: relative;
}
._1productDetails ._1title {
    margin-bottom: 31px;
    margin-top: 43px;
}
._1productDetails_left{
    padding-right: 55px;
}
._1productDetails_left_main{}
._1productDetails_pic {
    overflow: hidden;
}
._1productDetails_img{}
._1productDetails_details {
    padding-top: 47px;
}
._1productDetails_menu{
    border-bottom: 1px solid;
}
._1productDetails_menu_list{}
._1productDetails_menu_list li {
    display: inline-block;
    margin-right: 22px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    padding: 0 0 10px;
    cursor: pointer;
    transition: .3s all ease;
}
._1productDetails_menu_list li:hover{
    color: #000;
}
._1productDetails_menu_active {
    border-bottom: 3px solid #3177f1 !important;
}
._1productDetails_content ._2title {
    margin-bottom: 20px;
}
._1productDetails_content {
    padding: 30px 0 30px;
    position: relative;
}
._1productDetails_comment_box {
    margin-bottom: 36px;
}
._1comment_box {
    display: flex;
    align-items: flex-start;
}
._1comment_pic {
    flex: 0 0 auto;
}
._5back {
    width: 138px;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -93px;
    opacity: .4;
}
._5back img{}
._1comment_img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 1px solid #b9c2d0;
    margin-right: 15px;
}
._1comment_box_ratings ._2rating {
    margin-bottom: 7px;
}
._1comment_box_ratings {
    flex: 1 1;
}

/*Rating Two*/
._2rating{}
._2rating_list {
    display: flex;
    align-items: center;
}
._2rating_list li:last-child{
    margin-right: 0px;
}
._2rating_list li {
    display: block;
    margin-right: 5px;
    color: #c9cbce;
    cursor: pointer;
    font-size: 15px;
}
._2rating_list li:hover{}
._2rating_title {
    font-size: 15px !important;
    color: #696464 !important;
    margin-right: 14px !important;
    cursor: inherit !important;
}
._2rating_active{
    color: #efce4a !important;
}
/*Rating Two*/

._1comment_box_main{}
._1comment_box_main_title {
    font-size: 15px;
    color: #696464;
    margin-bottom: 10px;
}
._1comment_textera_all button{
        margin-left: 15px;
    padding: 0px 29px;
}
._1comment_textera_all {
    display: flex;
    align-items: flex-end;
}
._1textera {
    border: 1px solid #c2c1c3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    flex: 1 1;
    width: 100%;
    display: block;
    padding: 7px 11px;
    transition: .3s all ease;
}
._1textera:focus {
    border: 1px solid #84a0d2;
    box-shadow: 0px 0px 1px 1px #3177f140;
}
._1all_comments{}
._1all_comments_items {
    display: flex;
    padding: 17px 15px 17px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 11px -5px rgba(149, 149, 247, 0.22);
}
._1comment_details {
    flex: 1 1;
}
._1comment_status {
    font-size: 14px;
    line-height: 18px;
}
._1comment_name {
    font-size: 17px;
    color: #000;
    margin: 0 0 7px;
}
._1comment_rating {
    flex: 0 0 auto;
    margin-left: 15px;
    text-align: right;
}

/*Rating Three*/
._3rating{}
._3rating_list {
    display: flex;
    align-items: center;
}
._3rating_list li:last-child{
    margin-right: 0px;
}
._3rating_list li {
    display: block;
    margin-right: 5px;
    color: #d3d5d8;
    cursor: pointer;
    font-size: 12px;
}
._3rating_active {
    color: #efce4a !important;
}
._3rating_list li:hover{}
._3rating_title {
    font-size: 14px !important;
    color: #696464 !important;
    margin-right: 14px !important;
    cursor: inherit !important;
}
/*Rating Three*/

._1comment_time {
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 4px;
}
._1comment_button{}
._1comment_button button{
    height: 40px;
    padding: 0 30px;
}
._1productDetails_right{}
._1productDetails_right_price {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}
._1productDetails_right_main {
    display: flex;
    align-items: center;
}
._1productDetails_right_rating {
    border-right: 1px solid;
    overflow: hidden;
    flex: 0 0 50%;
    max-width: 50%;
}
._1productDetails_right_rating_title {
    font-size: 16px;
    margin-bottom: 11px;
}
._1productDetails_puchases_num {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}
._1productDetails_puchases_num img {
    width: 16px;
    margin-right: 8px;
}
._1productDetails_puchases {
    flex: 0 0 50%;
    padding: 0 3px 0 32px;
    overflow: hidden;
    max-width: 50%;
}
._1productDetails_puchases_title {
    font-size: 14px;
    color: #444;
    margin-top: 5px;
}
._1productDetails_list {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 13px 0 12px;
    margin: 16px 0 25px;
}
._1productDetails_list li:last-child{
    margin-bottom: 0px;
}
._1productDetails_list li {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 11px;
}
._1productDetails_list li img {
    width: 14px;
    margin-right: 8px;
}
._1productDetails_button{}
._1productDetails_button button:last-child {
    margin-bottom: 0px;
}
._1productDetails_button button {
    width: 100%;
    height: 49px;
    margin-bottom: 9px;
}
._1productDetails_right_card {
    padding: 25px 18px 25px;
}
._1productDetails_upload {
    padding: 25px 18px 25px;
}
._1productDetails_upload_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 17px 0 17px;
}
._1productDetails_upload_title {
    font-weight: bold;
}
._1productDetails_upload_num {
    color: #928f8f;
}
._3appi {
    position: absolute;
    bottom: 174px;
    right: 0;
    width: 600px;
    z-index: -2;
    overflow: hidden;
    opacity: .6;
}
._3appi img {
    right: -125px;
    position: relative;
}
._1productDetails_content_two{}
._1productDetails_content_three{}
._1productDetails_content_des:last-child {
    margin-bottom: 0px;
}
._1productDetails_content_des {
    margin-bottom: 40px;
}
._1productDetails_content_des_list{}
._1productDetails_content_des_list li:last-child{
    margin-bottom: 0px;
}
._1productDetails_content_des_list li {
    position: relative;
    font-size: 17px;
    display: block;
    padding-left: 19px;
    margin-bottom: 17px;
}
._1productDetails_content_des_list li:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #606b7b;
    top: 2px;
    left: 0;
}
._1productDetails_content_des_text{}
._1productDetails_content ._2text {
    margin-top: 16px;
}
/*========= 6.Product Details end =========*/

/*========= 7.Service Page =========*/
._1page {
    position: relative;
    z-index: 1;
    padding-bottom: 112px;
    margin-bottom: 141px;
    overflow: hidden;
}

/*Card Three*/
._3card {
    text-align: center;
    padding: 40px 30px 53px;
}
._3card_pic{}
._3card_img {
    width: auto;
    margin: 0 auto;
}
._3card_title {
    font-size: 33px;
    font-weight: bold;
    margin: 24px 0 45px;
}
/*Card Three*/

._1appi{
    position: absolute;
    width:300px;
    bottom: 00px;
    right: -10px;
    opacity: .8;
    z-index: -1;
}
._1star {
    position: absolute;
    width: 130px;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    z-index: -1;
}
/*========= 7.Service end =========*/

/*========= 8.Profile =========*/
._1profile_pro {
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    padding: 44px 55px 39px;
    display: flex;
}
._1profile_img {
    height: 100px;
    width: 100px;
    background: rebeccapurple;
    border-radius: 100%;
    position: relative;
    flex: 0 0 auto;
    margin-right: 25px;
}
._1profile_details{}
._1profile_details_top {
    display: flex;
}
._1profile_title{
    font-weight: bold;
    font-size: 21px;
}
._1profile_details_name_all {
    flex: 1 1;
    overflow: hidden;
    padding: 0 20px 0 0;
}
._1profile_details_add {
    font-size: 14px;
    color: #888;
    margin: 12px 0 0;
}
._1profile_details_button{}
._1profile_details_status {
    margin-top: 18px;
}

/*Card Four*/
._4card {
    overflow: hidden;
    position: relative;
}
._4card_pic {
    height: 175px;
    overflow: hidden;
}
._4card_img {
    min-width: 100%;
    min-height: 100%;
}
._4card_title {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}
._4card_details {
    padding: 9px 20px 2px;
}
._4card_by {
    color: #7d7c7c;
    font-size: 12px;
    margin: 8px 0 15px;
}
._4card_price {
    font-size: 23px;
    font-weight: bolder;
}
._4card_rating_price{}
._4card_sales {
    font-size: 14px;
}
._4card_rating {
    font-size: 14px;
}
._4card_rating i {
    font-size: 16px;
    color: #e5c238;
    padding-left: 5px;
}
._4card_rating_sales {
        align-items: center;
    padding: 11px 0 13px;
}
._4card_button_one{}
._4card_bottom {
    border-top: 1px solid;
    padding: 15px 20px 15px;
}
/*Card Four*/
/*========= 8.Profile end =========*/

/*========= 9.ProfileEdit =========*/
._2page {
    position: relative;
    z-index: 1;
    padding-bottom: 112px;
    margin-bottom: 141px;
    overflow: hidden;
    padding-top: 167px;
    background-image: url(heaerimg.png);
    background-repeat: no-repeat;
    background-position: right 20px top 43px;
    background-size: auto;
}
._1profileEdit_main {
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    padding: 48px 50px 70px;
}
._1profileEdit_top {
    display: flex;
    align-items: center;
}
._1profileEdit_pic{}
._1profileEdit_img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-right: 25px;
}
._1profileEdit_details {
    flex: 1 1;
}
._1profileEdit_upload {
    flex: 1 1;
    margin-top: 18px;
    margin-bottom: -7px;
}
._1profileEdit_form {
    padding: 53px 78px 0px;
}
/*========= 9.ProfileEdit end =========*/

/*========= 10.Service Request =========*/
/*========= 10.Service Request end =========*/

/*========= 11.Cart =========*/
._1edit_title_top {
    text-align: center;
    margin-bottom: 48px;
}
._1edit_title_top h1 {
    font-size: 25px;}
._1edit_card {
    padding: 30px 0px;
    position: relative;
    cursor: pointer;
}
._1edit_card img {
    width: auto;
    margin: 0 auto;
    height: 48px;
}
._1edit_card:hover:after{width: 100%;}
._1edit_card:after {
    position: absolute;
    content: '';
    height: 3px;
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(255,255,255,1) 100%);
    bottom: 0;
    left: 0;
    width: 0;
    transition: all .3s ease-in;
}
._1edit_card_num {
    margin: 35px 0px 25px 0px;
}
._1edit_card_num input{}
._1edit_card_num_p {
    font-size: 16px;
    color: #000;
}
._1edit_dash {
    margin: 0px 9px;
    display: flex;
    align-items: center;
}
._1edit_box {
    font-size: 15px !important;
    color: #646c6f;
}
._1edit_order_details_all {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
._1edit_order_details{}
._1edit_order_details_text {
    flex: 1;
}
._1edit_order_text {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
._1edit_order_details_text2 {
    flex: 1;
    padding-left: 103px;
}
._width50 {
    width: 60px;
    text-align: right;
}
._1edit_btn {
    font-weight: normal;
    height: 42px;
    min-width: 109px;
}
/*========= 11.Cart end =========*/

/*========= 12.Cart Edit =========*/
._1edit_btn2{font-size: 13px;
}
/*========= 12.Cart Edit end =========*/

/*========= 13.Cart Select =========*/
._1select_section_all {
    padding: 20px 10px 20px 10px;
    margin: 0px 0px 20px 0px;
    position: relative;
}
._1select_section_left {
    width: 67px;
    margin-right: 15px;
}
._1select_section_left img {
    border: 1px solid #e4e3e3;
}
._1select_section_right{}
._1select_section_h4 {
    font-size: 14px;
}
._1select_section_p {
    padding: 5px 0px 8px 0px;
    font-size: 14px;
}
._1select_section_dlr{
    font-weight: bold;
}
._1select_remove_icon {
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
}
._1select_remove_icon i {
    background: #e7edfa;
    padding: 2px;
    cursor: pointer;
    border-radius: 2px;
}
._1select_btm_section {
    text-align: center;
    border-top: 1px solid #aba3a3;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}
._1select_btm_h2 {
    font-size: 20px;
    font-weight: bold;
}
/*========= 13.Cart Select end =========*/

/*========= 14.Setting =========*/
._1setting_title_top{}
._1profile_top_left_text h1 {
    font-size: 25px;
}
._1profile_top_section {
    align-items: center;
}
._1profile_top_left {
    flex: 1;
}
._1setting_title_top h1 {
    font-size: 29px;
}
._1profile_top_left_image{}
._1profile_top_left_image img{}
._1profile_top_left_text{}
._1profile_top_left_text h1{}
._1profile_top_left_btn{}
._1setting_btn {
    font-size: 19px;
    padding: 0px 17px;
}
._1profile_detils{}
._1profile_detils_p {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
._1profile_detils_p2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
._1profile_top_left_h3 {
    font-size: 22px;
}
._1profile_btm_logo{}
._1profile_btm_image{}
._1profile_btm_image img {
    width: 70px;
}
/*========= 14.Setting end =========*/

/*========= 15.Documentation =========*/
._doc_menu {
    flex: 1 1;
    overflow: hidden;
}
._doc_menu_list{}
._doc_menu_list li:last-child:before {
    display: none;
}
._doc_menu_list li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
._doc_menu_list li {
    position: relative;
    display: inline-block;
    color: #908c8c;
    padding-right: 18px;
    margin-right: 5px;
}
._doc_menu_list li:before {
    position: absolute;
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    top: 2px;
    right: 0;
    color: #bec3cc;
}
._doc_menu_list li a:hover {
    color: #676464;
}
._doc_menu_list li:hover {
    color: #676464;
}
._doc_menu_list li a {
    color: #908c8c;
    font-size: 15px;
}
._doc_menu_active {
    color: #3177f1 !important;
}
._doc_menu_active a{
    color: #3177f1 !important;
}
._doc_header {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
._doc_content{
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    padding: 48px 50px 70px;
}
._doc_search_int {
    padding: 15px 22px;
    border: 0px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    flex: 1 1;
}
._doc_search {
    flex: 0 0 auto;
    overflow: hidden;
    width: 413px;
    display: flex;
    /* align-items: center; */
    background: #fff;
    box-shadow: 0 15px 25px 0 rgba(4,22,94,.1);
    border-radius: 3px;
}
._doc_search_select{}
._doc_search_sel {
    border-radius: 3px 0 0 3px;
    max-width: 100px;
    background: #fff;
    border: 0;
    border-right: 1px solid #e1e6ea;
    border: 1px solid #fff!important;
    transition: all .3s;
    outline: none!important;
    padding: 12px 10px;
    font-size: 14px;
    color: #7b7b7b;
}
._doc_search_sel option{}
._doc_search_button {
    background: #007cf5;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 0 3px 3px 0;
    color: #fff;
    border: 0;
    letter-spacing: .15px;
    cursor: pointer;
}
._left_menu{
    width: 300px;
}
._left_menu_title {
    display: flex;
    align-items: center;
}
._left_menu_title_text {
    flex: 1 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}

._left_menu_list{}
._left_menu_title_icon {
    height: 39px;
    width: 46px;
    background: #3177f1;
    box-shadow: 0 2px 9px 0px rgba(49, 119, 241, 0.52);
    border-radius: 3px;
    margin-right: 10px;
}
._left_menu_list li {
    display: block;
    margin-bottom: 21px;
}
._left_menu_list li:hover{}
._left_menu_name {
    display: flex;
    position: relative;
    align-items: center;
}
._left_menu_icon {
    height: 29px;
    width: 30px;
    background: #ffffff;
    box-shadow: 0 2px 9px 0px rgba(49, 119, 241, 0.15);
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3177f1;
    font-size: 14px;
    flex: 0 0 auto;
}
._left_menu_text {
    color: #637178;
    font-size: 14px;
    flex: 1 1;
}
._left_menu_name:before {
    position: absolute;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    top: 6px;
    right: 0;
    color: #bec3cc;
}
.{}
.{}
.{}
.{}
/*========= 15.Documentation end =========*/




@media only screen and (min-width: 1200px){
._my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._1my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._2my_container {
    max-width: 1222px;
    margin: 0 auto;
}




}