/*--------------------
    1.Menu
    2.Footer
    3.Documentation




---------------------*/

/*========= 1.Menu ========*/
.mt_10 {
    margin-top: 10px !important;
}
.unset_list {
    list-style: unset;
}
._1menu {
    padding: 30px 0;
    transition: .3s all ease;
}
._1menu_main {
    display: flex;
    align-items: center;
}
._1menu_main{}
._1menu_logo_pic {
    flex: 0 0 15%;
}
._1menu_logo_img{}
._1menu_list {
    flex: 1 1;
    text-align: center;
}
._1menu_list_ul{}
._1menu_list_ul li {
    display: inline-block;
}
._1menu_list_ul li a:hover:before{
    left: 0px;
    color: #3177f1;
    opacity: 1;
}
._1menu_list_ul li a:hover:after{
    right: 0px;
    color: #3177f1;
    opacity: 1;
}
._1menu_list_ul li a:before {
    position: absolute;
    content: '[';
    top: -2px;
    font-size: 15px;
    left: 22px;
    transition: .3s all ease;
    opacity: 0;
    color: #b5adad;
}
._1menu_list_ul li a:hover {
    color: #3177f1;
}
._1menu_list_ul li a:after {
    position: absolute;
    content: ']';
    top: -2px;
    font-size: 15px;
    right: 22px;
    transition: .3s all ease;
    opacity: 0;
}
._1menu_list_ul li a {
    position: relative;
    font-size: 15px;
    color: #b5adad;
    padding: 0 15px 0;
    transition: .3s color ease;
    margin-right: 9px;
}
._1menu_list_ul li:last-child a{
    margin-right: 0px;
}
._1menu_list_active{}
._1menu_list_active a{
    color: #3177f1 !important;
}
._1menu_right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    overflow: hidden;
    justify-content: flex-end;
}
._1menu_card {
    position: relative;
    cursor: pointer;
}
._1menu_pro button{
    width: 100%;
}
._1menu_pro button:nth-child(2){
    margin-left: 10px;
}
._1menu_pro {
    flex: 0 0 auto;
    overflow: hidden;
    padding-left: 0;
    margin-left: 32px;
    display: flex;
}
._1menu_card_img {
    width: 17px;
}
._1menu_card_num {
    position: absolute;
    background: red;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    top: -7px;
    right: -7px;
}
.menu_fixed{
    background: #fff;
    padding: 15px 0px;
    -webkit-animation: mymove .3s; 
    animation: mymove .3s;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
}
@keyframes mymove {
    from {top: 10px;}
    to {top: 00px;}
}
/*========= 1.Menu end ========*/

/*========= 2.Footer ========*/
._1fotter {
    position: relative;
    z-index: 9;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
    background-image: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
}
._1fotter_main {
    position: relative;
    z-index: 3;
}
._footer_bac_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/static/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25px right -30px;
    z-index: 1;
    top: -95px;
}
._1fotter_top {
    padding: 43px 0 38px;
    border-top: 20px solid #000;
}
._1fotter_list{}
._1fotter_list li {
    display: block;
    margin-top: 15px;
}
._1fotter_list li a {
    color: #777;
    font-size: 15px;
}
._1fotter_list li a i {
    font-size: 16px;
    margin-right: 5px;
}
._1fotter_list li a:hover{}
._1fotter_img {
    width: 25px;
    margin-right: 10px;
}
._1fotter_title {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 13px;
}
._1fotter_bottom {
    border-top: 1px solid #dee2e6;
    padding: 27px 0px;
}
._1fotter_bottom_main{
    align-items: center;
}
._1fotter_bottom_title {
    font-weight: bold;
    color: #606b7b;
    flex: 0 0 154px;
    font-size: 18px;
}
._1fotter_bottom_text {
    font-size: 15px;
    color: #a4aeba;
}
/*========= 2.Footer end ========*/

/*========= 3.Documentation =========*/
._doc_menu {
    flex: 1 1;
    overflow: hidden;
}
._doc_menu_list{}
._doc_menu_list li:last-child:before {
    display: none;
}
._doc_menu_list li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}
._doc_menu_list li {
    position: relative;
    display: inline-block;
    color: #908c8c;
    padding-right: 18px;
    margin-right: 5px;
}
._doc_menu_list li:before {
    position: absolute;
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    top: 2px;
    transition: .3s all ease;
    right: 0;
    color: #bec3cc;
}
._doc_menu_list li a:hover {
    color: #676464;
}
._doc_menu_list li:hover {
    color: #676464;
}
._doc_menu_list li a {
    color: #908c8c;
    font-size: 15px;
}
._doc_menu_active {
    color: #3177f1 !important;
}
._doc_menu_active a{
    color: #3177f1 !important;
}
._doc_header {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
._doc_content .row{
    height: 100%;
}
._doc_content_alll {
    position: fixed;
    height: 100vh;
    top: 0;
    overflow: hidden;
    max-width: 1180px;
    padding: 110px 0 37px;
}
._1menu_title {
    font-size: 20px;
    color: #3177f1;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._doc_content{
    
}
._doc_search_int {
    padding: 15px 22px;
    border: 0px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    flex: 1 1;
}
._doc_search {
    flex: 0 0 auto;
    overflow: hidden;
    width: 413px;
    display: flex;
    /* align-items: center; */
    background: #fff;
    box-shadow: 0 15px 25px 0 rgba(4,22,94,.1);
    border-radius: 3px;
}
._doc_search_select{}
._doc_search_sel {
    border-radius: 3px 0 0 3px;
    max-width: 100px;
    background: #fff;
    border: 0;
    border-right: 1px solid #e1e6ea;
    border: 1px solid #fff!important;
    transition: all .3s;
    outline: none!important;
    padding: 12px 10px;
    font-size: 14px;
    color: #7b7b7b;
}
._doc_search_sel option{}
._doc_search_button {
    background: #007cf5;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 0 3px 3px 0;
    color: #fff;
    border: 0;
    letter-spacing: .15px;
    cursor: pointer;
}
._left_menu {
    position: fixed;
    top: 0;
    padding-top: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 290px;
}
._left_menu_title {
    display: flex;
    align-items: center;
    padding-bottom: 42px;
    flex: 0 0 auto;
}
._left_menu_title_text {
    flex: 1 1;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
._left_menu_list::-webkit-scrollbar {
  width: 8px;
}
._left_menu_list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
._left_menu_list::-webkit-scrollbar-thumb {
  background:#1364f1; 
}
._left_menu_list::-webkit-scrollbar-thumb:hover {
  background: #3177f1; 
}
._left_menu_list {
    overflow: auto;
    flex: 1 1;
    padding-right: 10px;
}
._left_menu_title_icon img{
    width: 28px;
}
._left_menu_title_icon {
    height: 39px;
    width: 46px;
    background: #3177f1;
    box-shadow: 0 2px 9px 0px rgba(49, 119, 241, 0.52);
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._left_menu_list li {
    display: block;
    margin-bottom: 21px;
}
._left_menu_list li:hover{}
._left_menu_list li a{
    color: #86939e;
}
.dib {
    display: inline-block;
    width: 100%;
    color: #86939e;
    padding-top: 80px;
    margin-top: -15px;
    z-index: 0;
    position: relative;
}
._left_menu_name {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}
._left_menu_icon {
    background: #ffffff;
    box-shadow: 0 2px 9px 0px rgba(49, 119, 241, 0.15);
    /* border-radius: 3px; */
    margin-right: 10px;
    color: #86939e;
    padding: 6px;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
}
._left_menu_text_open ._left_menu_errow {
    transform: rotate(-180deg);
}
._left_menu_text {
    color: #86939e;
    font-size: 14px;
    flex: 1 1;
}
._left_menu_name ._left_menu_errow {
    font-size: 16px;
    top: 6px;
    right: 0;
    color: #bec3cc;
    transition: .3s all ease;
}
._left_menu_sublist {
    display: none;
    padding: 15px 0 0px;
    padding-left: 25px;
}
._left_menu_sublist li:last-child {
    margin-bottom: 0px;
}
._left_menu_sublist li:hover {
    color: #007cf5;
}
/* ._left_menu_sublist_active{
    color: #007cf5 !important;
} */
/* ._left_menu_sublist_active a {
    color: #007cf5 !important;
} */
/* ._left_menu_sublist_active a span {
    color: #007cf5 !important;
} */

._left_menu_text_link._left_menu_text_active a ._left_menu_icon, ._left_menu_text_link._left_menu_text_active a span {
    color: #007cf5 !important;
}

/* ._left_menu_sublist_active a i {
    color: #007cf5 !important;
} */
._left_menu_sublist li {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    color: #637178;
    font-size: 15px;
}
._left_menu_sublist li a{
    color: #637178;
    font-size: 15px;
}
._left_menu_sublist li a:hover{
    color: #007cf5;
}
._left_menu_all {
    height: 100%;
    overflow: auto;
    width: 311px;
}
._right_content_all {
    overflow: auto;
}
._right_content {
    padding: 30px 30px 30px;
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    height: 100%;
}
._right_content ._1title {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    width: 100%;
}
._1list {
    list-style-position: inside;
    margin: 0px;
    line-height: 24px;
}
._1list li {
    line-height: 24px;
    margin-bottom: 10px;
}
._dos_text {
    font-size: 15px;
    margin-bottom: 15px;
}
._version {
    margin: 3px 0 3px;
    font-size: 15px;
}
._last_up {
    margin-bottom: 20px;
    font-size: 10px;
}
._command {
    border: 1px solid #3177f13d;
    font-size: 13px;
    color: #ff726f;
    background: #3177f10d;
    border-radius: 3px;
    padding: 3px 15px 2px;
    display: inline-block;
}
._left_menu_sublist2 {
    padding-left: 15px;
}
._code{}
._code xmp {
    background: #3177f11f;
    color: #3177f1;
    border-radius: 3px;
    padding: 0 11px 18px;
    font-size: 14px;
    overflow: auto;
}
/*========= 3.Documentation end =========*/




@media only screen and (min-width: 1200px){
._my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._1my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._2my_container {
    max-width: 1222px;
    margin: 0 auto;
}




}

/*========= 4.file system =========*/

.file-system-list {
    list-style: none;
    padding-left: 15px;
    margin-top: 10px;
}

.file-system-list li {

}

.file-system-list li span {
    margin-right: 10px;
    color: #bebebe;

}

.icon_red i {
    color: #e84c3d;
}

.icon_green i {
    color: #13be5d;
}

.icon_yellow i {
    color: #f1c40f;
}

html {
    scroll-behavior: smooth;
}
  