// variable call

$newb: #555;
$v: #003680;
$yellow: #FCBF14;
$green: #57c27b;
$dgreen: #41B468;
$vrgb: rgb(2, 73, 171);
$dvrgb: rgb(2, 84, 196);
$vshadowlow: rgba(0, 54, 128, 0.2);
$vshadowhigh: rgba(0, 54, 128, 0.7);
$dvshadowhigh: rgba(76, 37, 230, 0.2);
$dvshadowlow: rgba(76, 37, 230, 0.7);
$orange: #f26602;

// import font

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

// $to-lap-small: "only screen and (min-width: 992px) and (max-width: 1060px)";
$totab: "only screen and (max-width : 992px)";
$tophone: "only screen and (max-width : 767px)";
$tophonesmall: "only screen and (max-width : 500px)";
$tophonexssmall: "only screen and (max-width : 400px)";
$tolaptop: "only screen and (max-width: 1199px)";
$fromdesktop: "only screen and (min-width: 1250px)";
$todesktop: "only screen and (max-width: 1249px)";
$to1100: "only screen and (max-width: 1100px)";

// $to-desk: "only screen and (min-width : 1200px)";

// bootstrap delete

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: $v;
    text-decoration: none;
}

label {
    margin-bottom: 5px;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

.col-xs-4, .col-xs-6 {
    
    @media #{$tophonesmall} {
        width: 100%;
    }
}

.col-xs-3 {
    
    @media #{$tophonesmall} {
        width: 50%;
    }
}

// my helper

@mixin custom-scroll-bar() {

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
        background: $v;
        width: 20px;
        border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
        background: rgba(0, 54, 128, 0.2);
    }
}

@mixin input-placeholder {

    &::-webkit-input-placeholder { 
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }  

    &::placeholder {
        @content;
    }  
}

@mixin textarea-placeholder {

    &::-webkit-textarea-placeholder { 
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-textarea-placeholder {
        @content;
    }  

    &::placeholder {
        @content;
    }  
}

input, textarea {
    width: 100%;
    border: 0;
    outline: 0;
}

button {
    outline: 0;
}

.container {
    width: 100%;

    @media #{$fromdesktop} {
        width: 1230px;
    }

    @media #{$todesktop} {
        width: 990px;
    }

    @media #{$totab} {
        width: 100%;
    }
}

.card {
    padding: 5px;

    a {
        padding-bottom: 15px;
    }
}

.card-inner {
    background: #fff;
}

.card-caption {
    background: #fff;
    padding: 0 10px;
}

.price {
    font-weight: 700;
    font-size: 16px;
    line-height: .5;
    color: $newb;
}

.gray {
    color: #999;
}

.section-content {
    padding-bottom: 20px;
}

.box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

p {
    font-size: 16px;
}

.con-pad {
    padding: 15px;
}

.my-box {
    // border-radius: 5px;
    background: #fff;
    padding: 0px 20px;
    // box-shadow: 0px 0px 7px 1px rgba(232, 232, 232, 0.4);
}

// .pad7 {
//     padding: 0 7.5px;
// }

// .row7 {
//     margin: 0 -7.5px;
// }

.bg {
    background: #f5f5f5;
}

.title {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 20px;
        font-weight: 700;
        color: $v;
        line-height: 1.2;
        text-transform: capitalize;
    }

    .title-box {
        
        a {
            background: $v;
            padding: 0 8px 0 10px;
            border-radius: 6px;
            height: 26px;
            display: flex;
            flex-flow: row;
            align-items: center;
            
            p {
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                transition: all 0.3s linear;

                span {
                    color: $yellow;
                    margin-left: 7px;
                }
            }

            &:hover {

                p {
                    color: $yellow;
                }
            }
        }
    }

    @media #{$tophonesmall} {
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        padding: 12px;
    }
}



.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}


.section-margin {
    margin-bottom: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-15 {
    padding-top: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.pad-15 {
    padding: 15px;
}

// main code

html {
    overflow-x: hidden;
}

body {
    background: #f5f5f5;
    font-family: Rubik, Noto Sans, sans-serif;
    // color: #9a9a9a;
    position: relative;
    color: $newb;
    overflow-x: hidden;
}

/****************
    Preloader
****************/

.preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: visible;
    z-index: 99999;
    top: 0;
    left: 0;
    background: $v;
}

.preloader .preloader-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.ball-triangle {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
}
    

/****************
    Navbar
****************/

.nav-category-menu {
    margin-right: 10px;
    display: none;

    span {
        font-size: 24px;
        color: #fff;
        cursor: pointer;

        i {
            vertical-align: middle;
        }
    }

    @media #{$todesktop} {
        display: block;
    }
    

    &.active {

        span {
            color: #fff;
        }
    }
}

nav {
    background: $v;
    line-height: 30px;
    height: 67px;
    // border-top: 3px solid $yellow;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;

    @media #{$tophone} {
        height: 100px;
    }

    .container {
        height: 100%;

        @media #{$tophone} {
            display: flex;
            flex-flow: column;
        }
    }
}

.nav-bottom-list {
    height: 100%;
    display: none;

    @media #{$tophone} {
        display: block;
    }
}

.nav-inner {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.nav-brand {
    flex: 0 0 20%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;

    a {
        width: 110px;

        img {
            width: 100%;
        }
    }
}

.nav-back {
    margin-right: 15px;

    span {
        font-size: 28px;
        color: #fff;
        cursor: pointer;

        i {
            vertical-align: bottom;
        }
    }
}

.nav-search-bar {
    flex: 0 0 40%;
    width: 100%;

    form {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        border-radius: 2px;
        height: 34px;
        background: #fff;
        overflow: hidden;
    }

    @media #{$tophone} {
        position: absolute;
        top: 100%;
        width: 100%;
        flex: 0 0 100%;
    }
}

.nav-search-locat {
    flex: 0 0 10%;
    width: 100%;

    .nav-search-locat-inner {
        width: 100%;
        padding: 8px 5px 8px 10px;
        cursor: pointer;

        span {
            border-right: 1px solid #aaa;
            width: 100%;
            display: block;
            color: #aaa;
            font-size: 18px;
        }
    }
}

.nav-search-input {
    flex: 0 0 80%;
    width: 100%;

    .nav-search-input-inner {
        width: 100%;
        padding: 8px;

        input {
            width: 100%;

            @include input-placeholder {
                color: #aaa;
                font-size: 14px;
                font-weight: 300;
            } 
        }
    }
}

.nav-search-icon {
    flex: 0 0 10%;
    width: 100%;
    height: 100%;

    .nav-search-icon-inner {
        background: $green;
        color: #fff;
        transition: all 0.3s linear;
        height: 100%;

        button {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 0;
        }

        &:hover {
            background: $dgreen;
        }
    }
}

.mobile-box .nav-navigation-list {

    span {
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 67px;
        margin-left: 10px;
    }
}

.nav-navigation {
    flex: 0 0 40%;
    width: 100%;
    height: 100%;
    align-items: center;

    ul {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .nav-navigation-list {
            margin-left: 20px;
            position: relative;
            font-size: 13px;
            display: flex;
            align-items: center;
            height: 100%;

            span {
                text-transform: capitalize;
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            &:nth-child(2) {
                margin-left: 50px;

                @media #{$tophonesmall} {
                    margin-left: 30px;
                }
            }

            p {
                position: absolute;
                top: 10px;
                background: $yellow;
                left: 80%;
                border-radius: 20px;
                font-size: 12px;
                color: $newb;
                min-width: 20px;
                height: 20px;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                padding: 0 5px;

                @media #{$totab} {
                    left: 30%;
                }

               &.cart-list {
                    font-size: 18px;
                }
            }
             
        }

        .new-cart-list {

            @media #{$tophone} {

                p {
                    top: 25px;
                }
            }

            
        }
    }

    @media #{$tophone} {
        flex: 1;
    }
}

.pay-new-navigation {
    display: none;

    @media #{$todesktop} {
        display: block;
    }
}

/****************
    header owl
****************/

.mt-67 {
    margin-top: 67px;

    @media #{$tophone} {
        margin-top: 100px;
    }
}

header {
    

    .container {

        @media #{$todesktop} {
            padding: 0;
        }
    }
}

.header-carousel {
    height: 420px;
    position: relative;
}

.header-owl-carousel {
    width: 100%;
    height: 100%;

    .owl-stage-outer {
        height: 100%;

        .owl-stage {
            height: 100%;

            .owl-item {
                height: 100%;
            }
        }
    }

    .item {
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg,rgba(0,0,0,.7),transparent 85%);
            z-index: 1;
        }
    }

    .owl-nav {
        position: absolute;
        bottom: 25px;
        width: 100%;

        button {
            color: #fff !important;
            position: absolute;
            bottom: 0;
            font-size: 25px !important;
            z-index: 100;
            background: transparent;

            &:hover {
                background: transparent !important;
            }
        }

        .owl-prev {
            left: 35%;
            bottom: 0;
            transform: translateX(-50px);
            
            @media #{$tophonesmall} {
                transform: translateX(-100px);
            }
        }

        .owl-next {
            right: 35%;
            transform: translateX(50px);
            bottom: 0;

            @media #{$tophonesmall} {
                transform: translateX(100px);
            }
        }
    }
}

.header-carousel-img {
    height: 100%;
    position: relative;

    figure {
        height: 100%;

        img {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.header-carousel-caption {
    position: absolute;
    top: 70%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 0 100px;
    z-index: 10;
    height: 100%;

    .header-caption-text {

        p {
            color: #fff;
            font-size: 16px;
            width: 200px;
        }
    }

    figure {
        transform: scale(1);
        transform-origin: top left;
        margin-top: 10px;

        img {
            height: auto;
            top: 0;
            object-fit: unset;
            object-position: unset;
            bottom: auto;
            width: auto !important;
        }
    }
}

.header-caption-button {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 70px;

    button {
        background: $green;
        color: #fff;
        transition: all 0.3s linear;
        border: 1px solid $dgreen;
        border-radius: 6px;
        padding: 8px 35px;
        font-size: 16px;
        font-weight: 400;

        &:hover {
            background: $dgreen;
            box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
        }
    }
}

#custom-dots {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    bottom: 20px;
    // z-index: 1;
    width: 100%;
    
    .owl-dot figure {
        width: 40px;
        height: 40px;
        overflow: hidden;
        // padding: 8px 4px;
        // margin-inline-start: 1px !important;
    }

    .owl-dot {
        width: 60px;
        height: 60px;
        background: #fff;
        padding: 7px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 5px;
        border: 2px solid transparent;
        position: relative;
        z-index: 1;

        &.active {
            border-color: $yellow;
            background: #FEE8AB;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/****************
    home section content
****************/

.mob-hide {
    display: none;

    @media #{$todesktop} {
        display: block;
    }
}

.category-full-content {
    margin-bottom: 50px;
}

.section-details {
    margin-top: 8px;

    .row {
        min-height: 295px;
        display: flex;
        flex-flow: row;

        .col-md-2.col-sm-2 {
            flex: 0 0 20%;
            width: 20%;
        }

        .col-md-8.col-sm-8 {
            flex: 0 0 80%;
            width: 80%;
        }
    }
}

.mobile-box {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 40px;
    display: none;

    ul {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 100%;
        align-items: center;

        li {
            flex: 1;
            // padding-left: 15px;
            // padding-right: 15px;
            font-size: 15px !important;
            color: $newb;
            text-align: center;
            height: 100%;
            align-items: center;
            display: flex;
            flex-flow: row;
            justify-content: center;
            cursor: pointer;

            a {
                color: $newb;
            }

            &:last-child {
                background: $yellow;
            }
        }
    }

    @media #{$tophonesmall} {
        display: block;
    }
}

.category-section {
    width: 100%;
    background: #fff;
    height: 100%;
}

.category-section-title {
    padding: 20px 15px;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,.02);
    }

    h2 {
        color: $newb;
        text-transform: capitalize;
        font-size: 16px;
    }
}

.category-section-item {

    ul {
        border-bottom: 1px solid #e5e5e5;

        li {
            width: 100%;
            display: block;
            border-top: 1px solid #e5e5e5;

            a {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                width: 100%;
                transition: all 0.3s linear;
                font-size: 13px;
                padding: 20px 15px;
                color: $newb;
                text-decoration: none;
                font-weight: 500;

                &.self-add {
                    font-weight: 600;
                }

                &:hover {
                    background: rgba(0,0,0,.02);
                }

                span {
                    border: 1px solid rgba(0,0,0,.33);
                    width: 15px;
                    height: 15px;
                    border-radius: 3px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;

                    &.in {

                        i {
                            &:before {
                                content: "\f077";
                            }
                        }
                    }
                }
            }

            &.self-new-bg {
                background: rgba(0,0,0,.02);
            }
        }
    }
}

.category-section-dropdown {
    padding-left: 15px;
    display: none;

    li {
        
        a {
            padding: 15px !important;

            span.in {

                i {

                    &:before {
                        content: "\f068" !important;
                    }
                }
            }
        }

        &.self-new-bg {
            background: #f5f5f5;
        }
    }

    &.in {
        display: block;
    }
}

.category-slider {
    margin-top: 10px;
    background: #fff;
    // padding: 10px 0;
}

.owl-carousel.flex-box {
    display: flex;
    flex-flow: row;
    padding: 10px;
    justify-content: center;

    .item {
        flex: 0 0 12.67%;
        width: 12.67%;
        margin: 0 5px;

        @media #{$tophone} {
            flex: 0 0 30%;
            width: 30%;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.category-owl-slider {

    .owl-stage-outer {
        overflow-x: scroll;
        padding-bottom: 20px;

        @include custom-scroll-bar();
        
    }

    .owl-stage {
        right: 40px;
        padding-top: 10px;
    }

    .item {

        a {
            display: block;
            width: 100%;

            &:hover {
                text-decoration: none;
            }
        }
        
        figure {
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
            }
        }
    }

    .owl-nav {

        button {
            position: absolute;
            top: 0;
            height: 100%;
            background: $vshadowlow!important;
            border-radius: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
            width: 40px;
            color: #fff !important;
            font-size: 35px !important;

            &:hover {
                background: rgba(76, 37, 230, 0.4) !important;
            }

            &.owl-prev {
                left: 0;
            }

            &.owl-next {
                right: 0;
            }

            &.disabled {
                display: none;
            }
        }
    }
}

.category-slider-caption {
    margin-top: 10px;
    text-align: center;

    p {
        color: $v;
        font-size: 14px;

        &:hover {

        }
    }
}

.section-box-inner {

    .row {
        margin: 0 -5px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .col-md-3 {
        padding: 5px;
        flex: 0 0 25%;
        width: 25%;
    }

    @media #{$todesktop} {
        .col-sm-3 {
            padding: 5px;
            flex: 0 0 33.33%;
            width: 33.33%;
        }
    }

    @media #{$totab} {
        .col-sm-3 {
            padding: 5px;
            flex: 0 0 50%;
            width: 50%;
        }
    }

    @media #{$tophonexssmall} {

        .col-sm-3 {
            flex: 0 0 100%;
            -ms-flex: 1;
            width: 100%;
        }
    }
}

.box-item {
    height: 100%;

    a {
        display: block;
        width: 100%;
        padding: 7px 7px 20px;
        background: #fff;
        border-radius: 4px;
        text-decoration: none;
        height: 100%;
        color: $newb;

        &:hover {
            text-decoration: none;
        }

        h4 {
            color: $newb;
        }
    }

    .box-item-figure {
        position: relative;
        border-bottom: 1px solid #F7F3F8;

        figure {
            width: 100%;
            height: 163px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .figure-big {
        height: 355px;

        figure {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.box-change-img {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {

        li {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 125px;
            height: 58px;
            // z-index: 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        li:first-child {
            display: block;
        }
    }
}

.box-item-figure-caption {
    margin-top: 8px;

    h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $newb !important;
        text-transform: capitalize;

        span {
            text-transform: uppercase;
            margin-left: 3px;
        }
    }
}

.item-price {
    display: flex;
    flex-flow: row;
    margin-top: 3px;
    flex-wrap: wrap;

    li {
        margin-right: 10px;
        
        &.main-price {
            font-weight: 600;
        }

        del {
            font-size: 14px;
            color: #999;
        }
    }
}

.save {
    font-size: 12px;
    color: #ee395f;
}

.more-option {
    margin-top: 3px;

    p {
        color: #999;
        font-weight: 400;
        font-size: 12px;
        text-decoration: underline;
    }
}

.emi-box {
    background-color: #38b7ca;
    padding: 2px 5px 1px;
    border-radius: 3px;
    display: inline-block;

    p {
        color: #fff;
        font-size: 12px;
    }
}

.border-top {
    border-top: 1px solid #d9d9d9;
    width: 100%;
}

.col-md-8.m-col-12 {

    @media #{$todesktop} {
        flex: 0 0 100% !important;
        width: 100% !important;
    }
}

/****************
    footer content
****************/

footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 30px 0 20px;
}

.footer-content {
    
    .row {
        display: flex;
        flex-flow: row;

        @media #{$to1100} {
            flex-wrap: wrap;
        }
    }

    .col-md-4.col-sm-4 {
        flex: 0 0 35%;
        width: 100%;

        @media #{$to1100} {
            flex: 0 0 100%;
        }
    }

    .col-md-3.col-sm-3 {
        flex: 0 0 21.67%;
        width: 100%;

        @media #{$to1100} {
            flex: 0 0 33.33%;
        }
    }
}

.footer-item {
    margin-top: 10px;
}

.footer-brand {

    figure {
        width: 110px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

.footer-details {
    margin-top: 11px;

    p {
        color: #999;
        line-height: 1.77;
        font-size: 14px;
    }
}

.footer-phone {
    margin-top: 11px;

    h4 {
        color: #999;
        line-height: 1.77;
        font-size: 20px;
        text-decoration: none;

        a {
            color: #999;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.footer-social {
    margin-top: 20px;

    ul {
        display: flex;
        flex-flow: row;

        li {
            font-size: 26px;
            margin-right: 5px;

            a {
                color: #999;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-title {

    h4 {
        font-size: 15px;
        line-height: 1.33;
        font-weight: 700;
        padding-top: 10px;
        color: $newb;
    }
}

.footer-list {

    li {
        padding-bottom: 6px;
        list-style: none;
        text-transform: capitalize;

        a {
            font-size: 14px;
            color: #999;

            span {
                margin-right: 0;
                opacity: 0;
                transition: all 0.3s ease-in;
                visibility: hidden;
                margin-left: -6px;
                color: #999;
                font-size: 12px;
            }

            &:hover {
                color: $newb;
                text-decoration: none;

                span {
                    margin-right: 10px;
                    opacity: 1;
                    visibility: visible;
                    margin-left: 0;
                    color: $newb;
                }
            }
        }
    }
}

.footer-bottom {
    margin-top: 75px;

    p {
        font-style: normal;
        font-size: 13px;
        line-height: 1.55;
        color: #999;
        // margin-bottom: 5px;
    }
}

.footer-bottom-list {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-list-left {
    // margin-right: 20px;
    margin-top: 10px;
    
    ul {
        display: table;

        li {
            display: inline-block;
            padding: 3px 5px;
            color: #999;

            a {
                color: #999;
                font-size: 13px;
                transition: all 0.3s linear;

                &:hover {
                    color: $newb;
                }
            }
        }
    }
}

.footer-bottom-list-right {
    margin-top: 10px;

    p {
        padding: 3px 5px;
        font-size: 13px;
        color: #999;
        margin-bottom: 0;

        img {
            width: 110px;
            margin: 0 5px;
            margin-top: -6px;
        }
    }
}

.footer-list-img {
    display: flex;
    flex-flow: row;

    li {
        flex: 0 0 48px;
        width: 48px;
        border: 1px solid #ddd;
        border-radius: 6px;
        margin-right: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.footer-list-img-big {
    flex: 0 0 154px !important;
    width: 154px !important;
}

/****************
    category page content
****************/

.content-page-full {
    padding: 20px;
    width: 100%;
    background: #fff;
}

.content-page-title {

    h2 {
        font-size: 30px;
        font-weight: 700;
        color: $newb;
        line-height: 1.2;
        text-transform: capitalize;
    }
}

.category-pagination {

    ul {
        display: table;
        width: 100%;

        li {
            display: inline-block !important;
            font-size: 12px;
            color: $newb;
            margin-right: 5px;

            &.current {
                font-weight: 700;
            }

            span {
                margin-right: 5px;
            }

            a {
                color: $newb;
                text-decoration: none;
            }

            
        }
    }
}

.content-advertise {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 290px;

    @media #{$tophone} {
        height: 240px;
    }

    @media #{$tophonesmall} {
        height: 130px;
    }

    figure {
        width: 100%;
        overflow: hidden;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;

        img {
            width: 100%;
            position: absolute;
            top: -100px;
            left: 0;

            @media #{$tophone} {
                top: -10px;
            }
        }
    }
}

.mobile-mt {

    @media #{$tophone} {
        margin-top: 20px;
    }
}


/****************
    search page
****************/

.total-count {
    padding-top: 15px;

    p {
        font-size: 2em;
        color: $newb;
    }
}

/****************
    about page
****************/

.about-section {
    background: #fff;
}

.about-section-top {
    margin-top: 120px;
    margin-bottom: 80px;

    h1 {
        font-size: 52px;
        color: #9ea0a6;
        text-transform: uppercase;
        font-weight: 600;
    }

    h2 {
        font-size: 52px;
        color: $newb;
        text-transform: uppercase;
        font-weight: 600;
    }

    p {
        margin-top: 30px;
        letter-spacing: .025em;
        line-height: 1.66;
        font-size: 21px;
        max-width: 25em;
    }
}

.about-section-bottom {
    margin-top: 80px;
}

.about-bottom-item {
    margin-bottom: 70px;

    h3 {
        line-height: 1.33;
        font-weight: 700;
        font-size: 28px;
        color: $newb;
    }

    p {
        margin-top: 20px;
        font-size: 16px;
        line-height: 2;
    }
}

/****************
    authentication box
****************/

.authentication-full-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    overflow: auto;
    
}

.wrapper-close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
}

.wrapper-close.active {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transition: all 0.3s linear;
}

.authentication-modal {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.3);
    min-height: 500px;
    border-radius: 3px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;



    @media #{$tophonesmall} {
        max-width: 100%;
        top: 0;
        margin-top: 0;
        height: 100vh;
        overflow: auto;
        min-height: 100%;
        position: fixed;
        left: 0;;
    }
}

.modal-header-img {
    width: 100%;
    position: relative;
    
    figure {

        img {
            width: 100%;
        }
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;

    span {
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;

        i {
            cursor: pointer;
        }
    }
}

.modal-details {
    padding: 30px 30px 50px;
    background: #fff;
    text-align: left;
    position: relative;

    p {
        font-size: 13px;
        color: #aaa;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

.social-login {
    height: 52px;
    background-color: #3b5997;
    display: inline-flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    color: #fff;
    fill: #fff;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    transition: all 0.2s ease;
    letter-spacing: .02em;
    border-radius: 2px;

    &:hover {
        background: #344e85;
    }

    span {
        margin-right: 10px;
        font-size: 22px;
    }
}

.connect-login {
    margin-top: 18px;
    padding: 10px 0;
    text-align: center;

    a {
        color: $dvrgb;
        text-decoration: none;
        font-weight: 100;

        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-input-box {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;

    label {
        display: block;
        color: $newb;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6px;
        letter-spacing: .04em;
        padding-left: 15px;
        padding-right: 15px;
    }

    input {
        border-radius: 2px;
        font-size: 1rem;
        height: 36px;
        line-height: 1.5;
        padding: 6px 15px;
        position: relative;
        vertical-align: top;
        background-color: #fcfcfc;
        border: 1px solid #e5e5e5;
        color: $newb;
        box-shadow: none;
        max-width: 100%;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        transition: all .1s ease-out;

        @include input-placeholder {
            color: #c5c5c5;
        }

        &:focus, &:active {
            border-color: $v;

            
        }

        &.error {
            border-color: #F26C88;
        }

        &.success {
            border-color: $green;
        }
    }
}

.required-box {
    background: #FDE7EC;
    background-color: rgba(238,57,95,.12);
    border: 1px solid rgba(238,57,95,.2);
    border-radius: 2px;
    padding: 8px 15px;
    margin-top: 6px;
    
    p {
        font-size: 12px !important;
        color: #ee395f !important;
        margin: 0 !important;
    }
}

.connect-fb {

    @extend .connect-login;
    
    a {
        color: #3b5997;
    }
}

.input-message {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;

    p {
        font-size: 13px;
        color: #999;
        margin-bottom: 0;

        a {
            color: #3f9ca8;
            text-decoration: none;
            transition: all .2s ease;

            &:hover {
                color: #317a83;
            }
        }
    }
}

.modal-btn {
    
    button {
        width: 100%;
        color: #fff;
        fill: #fff;
        background-color: #41b468;
        border-color: #3aa15d #338f52 #2d7c48;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#57c27b,#41b468);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
        padding: 10px 0;
        border-radius: 2px;

        &:hover {
            background-color: #3aa15d;
            background: linear-gradient(180deg,#41b468,#41b468);
        }
    }
}

// .modal-details-1 {
//     position: absolute;
//     top: 30px;
//     left: 30px;
//     right: 30px;
//     height: 100%;
// }

// .modal-details-2 {
//     position: absolute;
//     top: 30px;
//     left: 30px;
//     right: 30px;
//     height: 100%;
// }


html.modal-open {
    overflow: hidden;
    // height: 100vh;
}

html.new-modal-open {
    overflow: hidden;
    // height: 100vh;
}

/****************
   product details
****************/

.product-details {
    background: #fff;
    display: flex;
    flex-flow: row;
    padding: 15px;

    @media #{$totab} {
        flex-flow: column;
    }
}

.product-details-left {
    flex: 0 0 68%;
    width: 68%;

    @media #{$totab} {
        flex: 0 0 100%;
        width: 100%;
    }
}

.product-details-img {
    width: 100%;
    background: #f5f2f2;
    padding-bottom: 1px;
    overflow: hidden;

    figure {
        width: 100%;
        overflow: hidden;
        // cursor: zoom-in;

        img {
            width: 100%;
        }
    }
}

.product-details-img-list {
    margin-top: 10px;

    @media #{$tophone} {
        margin: 10px auto 0;
    }

    ul {
        display: table;

        li {
            width: 100px;
            cursor: pointer;
            border: 1px solid #e5e5e5;
            border-radius: 2px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            margin-bottom: 5px;

            img {
                width: 100%;
            }

            &:nth-child(6n) {
                margin-right: 0;
            }

            &:hover {
                opacity: 0.7;
            }

            &.active {
                border-color: $yellow;
            }
        }
    }
}

.product-details-right {
    flex: 0 0 32%;
    width: 32%;
    padding-left: 15px;

    @media #{$totab} {
        margin-top: 10px;
        flex: 0 0 100%;
        width: 100%;
    }
}

.product-id {
    padding: 0 7px;
    background-color: $green;
    border: 1px solid $green;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    height: 17px;

    p {
        font-size: 12px;
        line-height: 1.44;
        text-transform: uppercase;

        span {
            margin-left: 3px;
        }
    }
}

.product-facility {
    margin-left: -10px;
    margin-top: 4px;

    ul {
        display: table;

        li {
            display: inline-block;
            width: 125px;
            height: 58px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.product-name {
    margin-top: 8px;

    h3 {
        font-size: 16px;
        color: $newb;
        line-height: 1.33;
        font-weight: 400;
    }
}

.product-price {
    margin-top: 3px;

    .item-price {
        align-items: baseline;

        .main-price {
            font-size: 22px;
        }

        li {

            del {
                font-size: 16px;
            }
        }
    }
}

.product-size {
    margin-top: 15px;

    p {
        font-size: 14px;
        margin-bottom: 2px;
    }

    ul {
        display: table;
        
        li {
            margin: 0 5px 5px 0;
            cursor: pointer;
            padding: 3px 10px 1px;
            border-radius: 6px;
            background: #fff;
            border: 2px solid $v;
            color: $newb;
            text-transform: uppercase;
            display: inline-block;
            font-weight: 400;
            font-size: 12px;
        }

        li.active {
            background: $v;
            color: #fff;
            font-weight: 700;
        }
    }
}

.product-lock {
    margin-top: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.product-lock-icon {
    border: 1px solid $vrgb;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    // margin-top: 3px;
}

.product-lock-details {

    span {
        color: #000;
        font-size: 12px;
        line-height: 16px;
    }

    p {
        color: #000;
        font-size: 14px;
        line-height: 16px;
    }
}

.product-btn {
    margin-top: 13px;

    ul {
        display: flex;
        flex-flow: row;

        li {
            list-style: none;
            flex: 0 0 45%;
            width: 45%;

            button {
                height: 44px;
                font-size: 16px;
                font-weight: 500;
                width: 100%;
                border-radius: 6px;

                &.buy-btn {
                    color: #fff;
                    background-color: $v;
                    border-color: #682c7f #59266c #491f59;
                    border-style: solid;
                    border-width: 1px;
                    background: linear-gradient(180deg,#6594d4,$v);
                    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
                    transition: all 0.3s linear;

                    &:hover {
                        color: #fff;
                        background-color: #682c7f;
                        background: linear-gradient(180deg,$v,#6594d4);
                        transition: all 0.3s linear;
                    }
                }

                &.cart-btn {
                    color: #783392;
                    background-color: #fcbf14;
                    border-color: #f3b403 #daa203 #c18f02;
                    border-style: solid;
                    border-width: 1px;
                    background: linear-gradient(180deg,#fdd86f,#fcbf14);
                    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

                    &:hover {
                        color: #783392;
                        background: linear-gradient(180deg,#fcbf14,#fcbf14);
                    }
                }
            }

            &:last-child {
                margin-left: 10px;
            }
        }
    }
}

.price-flag {
    margin-top: 20px;

    li {
        margin-bottom: 5px;
        display: flex;
        flex-flow: row;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
        }

        img.check {
            width: 20px;
            height: 20px;
            margin-left: 4px;
        }

        p {
            font-size: 15px;
            color: $newb;
            padding-left: 8px;

            a {
                text-decoration: underline;
                color: $newb;
            }
        }
    }
}

.product-description-box {
    width: 100%;
    background: #fff;
}

.description-title {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;

    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #333;
    }
}

.description-inner {
    padding: 12px 15px;
}

.description-inner-item {
    margin-bottom: 12px;

    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        color: $newb;
        display: inline-block;
    }

    ul {
        padding-left: 30px;

        li {
            margin-bottom: 10px;
            line-height: 1.33;
            list-style: disc;
        }
    }
}

.feature-item {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;

    h4 {
        color: #aaa;
        flex: 0 0 25%;
        width: 25%;
        font-weight: 400;
        font-size: 13px;
        padding-right: 10px;

        @media #{$tophonesmall} {
            flex: 0 0 35%;
            width: 35%;
        }
    }

    ul {
        flex: 0 0 75%;
        width: 75%;

        li {
            color: $newb;
            font: 14px;
        }
    }

    &:last-child {
        border-bottom: 0;
    }
}

.new-section-ad {
    margin-bottom: 15px;

    figure {

        img {
            width: 100%;
        }
    }
}

.new-section-ad-text {
    margin-bottom: 15px;

    h3 {
        font-size: 16px;
        font-weight: 600;
    }

    p {
        font-size: 13px;
    }
}

.new-section-iframe {
    width: 100%;
    height: 620px;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.zoomLens {
    border: 2px solid $newb !important;
}

/****************
    Payment
****************/

.payment-box {
    width: 100%;
    // background: #fff;
}

.payment-box-item {
    margin-bottom: 15px;
    width: 100%;
    background: #fff;
}

.payment-box-title {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-flow: row;
}

.payment-title-number {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-color: #e5e5e5;
    border-radius: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    span {
        color: $newb;
    }

    &.green-bg {
        background-color: $green;
        
        span {
            color: #fff;
        }
    }
}

.payment-title-text {
    padding-left: 12px;

    h3 {
        font-size: 16px;
        font-weight: 400;
        color: $newb;
        text-transform: capitalize;
    }
}

.payment-item-details {
    padding: 30px 30px 40px;
    border-top: 1px solid #ddd;
}

.payment-item-verifaction {
    display: flex;
    flex-flow: row wrap;
}

.verification-image {
    width: 320px;
    max-width: 320px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 1;

    img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 1000px;
        width: auto;
        margin-right: -10px;
    }

    @media #{$tophone} {
        display: none;
    }
}

.verification-box {
    padding: 20px 0 20px 30px;
    width: 100%;
    flex: 1;

    @media #{$tophone} {
        padding: 20px;
    }

    .verification-details-social {

        p {
            font-size: 13px;
            color: #aaa;
            margin-top: 0;
            margin-bottom: 16px;
        }
    }
}

.new-connect-login {

    @extend .connect-login;
}

.payment-delivery-details {

    address {

        .delivery-title {
            font-size: 16px;
            font-weight: 400;
            color: $newb;
            display: block;
            line-height: 1.44;
        }

        p {
            font-size: 15px;
            color: #999;

            span {
                text-transform: uppercase;
            }
        }
    }
}

.agent-add {
    margin-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    figure {
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        figcaption {
            position: absolute;
            bottom: -4px;
            right: -5px;
            width: 50px;
            height: 50px;
            border: 5px solid #fff;
            border-radius: 38px;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.agent-add-text {
    line-height: 1.66;
    flex: 1;
    padding-left: 10px;

    p {
        font-weight: 400;
        font-size: 14px;
        color: $newb !important;
    }
}

.delivery-use-btn {
    margin-top: 15px;
    margin-bottom: 25px;

    button {
        border: 1px solid #d9d9d9;
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        color: $newb;
        background: #fff;
        border-radius: 2px;
        transition: all .2s ease;

        &:hover {
            color: rgba(0,0,0,.66);
        }
    }
}

.payment-additional {
    margin-bottom: 20px;
}

.payment-additional-input {

    label {
        text-transform: uppercase;
        padding-left: 15px;
    }

    input {
        border-radius: 2px;
        height: 36px;
        line-height: 1.5;
        padding: 6px 15px;
        position: relative;
        vertical-align: top;
        background-color: #fcfcfc;
        border: 1px solid #e5e5e5;
        color: $newb;
        box-shadow: none;
        max-width: 100%;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        transition: all .1s ease-out;

        @include input-placeholder {
            color: #BBBBCA;
        }
    }
}

.payment-invoice-check {
    display: flex;
    flex-flow: row;
    align-items: center;

    input {
        flex: 0 0 20px;
        width: 20px;
        position: relative;
        left: -3px;
        top: -1px;
        margin: 0;
    }

    label {
        margin: 0;
        cursor: pointer;
        padding: 10px 3px;
        font-size: 16px;
        font-weight: 400;
    }
}

.payment-invo-cp {

    @extend .payment-additional;
    
    display: none;

    &.active {
        display: block;
    }
}

.payment-invo-cp-input {

    @extend .payment-additional-input;

    label {
        text-transform: capitalize;
    }
}

.payment-confirm-btn {
    text-align: right;
    margin-top: 30px;

    @media #{$tophonesmall} {
        text-align: center;
    }

    button {
        height: 40px;
        width: 310px;
        font-size: 16px;
        color: #fff;
        background-color: $green;
        border-color: #3aa15d #338f52 #2d7c48;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#57c27b,#41b468);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

        &:hover {
            background-color: #3aa15d;
            background: linear-gradient(180deg,#41b468,#41b468);
            color: #fff;
        }

        &.dis {
            cursor: not-allowed;
            opacity: .5;
        }

        @media #{$tophonesmall} {
            width: 280px;
        }
    }

    p {
        margin-top: 15px;
        font-size: 13px;
        color: rgba(0,0,0,.44);

        a {
            text-decoration: underline;
            color: rgba(0,0,0,.44);
        }
    }
}

.payment-back-btn {

    button {
        height: 32px;
        padding: 0 15px 0 10px;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #fff;
        background-color: $newb;
        border-color: #262626 #1a1a1a #0d0d0d;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#6594d4,$v);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

        &:hover {
            background-color: #262626;
            background: linear-gradient(180deg,$v,#6594d4);
        }

        span {
            padding-right: 9px;
        }
    }
}

.payment-delivery-select {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @media #{$tophonesmall} {
        flex-flow: column;
    }
}

.payment-delivery-select-item {
    flex: 0 0 49%;
    width: 49%;
    margin-bottom: 20px;

    @media #{$tophonesmall} {
        flex: 1;
        width: 100%;
    }

}

.payment-delivery-select-input {
    position: relative;

    label {
        text-transform: uppercase;
        padding-left: 15px;
        font-size: 13px;
    }

    .delivery-input-inner {
        position: relative;
        display: flex;
        flex-flow: row;
        background-color: #fcfcfc;
        border: 1px solid #e5e5e5;

        &.active {
            
            button {

                span {
                    transform: rotate(180deg);
                }
            }
        }
    }

    input {
        border-radius: 2px;
        height: 36px;
        line-height: 1.5;
        padding: 6px 15px;
        position: relative;
        vertical-align: top;
        color: $newb;
        box-shadow: none;
        max-width: 100%;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        transition: all .1s ease-out;

        @include input-placeholder {
            color: #BBBBCA;
        }
    }

    button {
        border: 0;
        background: #fff;
        outline: 0;
        color: #999;
        width: 40px;

        span {
            transition: all 0.3s ease-in;
            display: block;
        }
    }
}

.delivery-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    max-height: 300px;
    overflow: auto;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 99;
    display: none;

    &.show {
        display: block;
    }

    ul {

        li {
            font-size: 14px;
            padding: 12px;
            position: relative;
            display: flex;
            align-items: center;
            overflow: auto;
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
}

.product-delivery-method {
    margin-bottom: 20px;

    h4 {
        text-transform: uppercase;
        padding-left: 15px;
        font-size: 13px;
        margin-bottom: 6px;
        font-weight: 600;
    }
}

.delivery-method-field-item {
    border: 1px solid #e5e5e5;
    background-color: #fcfcfc;
    // padding: 15px;

    &:nth-child(n + 2) {
        border-top: 0;
    }
}

.field-item-main {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    input {
        width: 30px;
        margin: 0;
        position: relative;
        top: 2px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;

       &:checked ~ .field-label {

            label {

                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    width: 15px;
                    height: 15px;
                    border: 2px solid $green;
                    background: #fff;
                    border-radius: 2px;
                    padding-left: 2px;
                    line-height: 7px;
                    font-size: 18px;
                    color: $green;
                }
            }
       }
    }

    .field-label {
        margin: 0;
        display: flex;
        flex-flow: row;
        flex: 0 0 100%;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;
        position: relative;
        padding: 15px;

        label {
            
            &:before {
                content: "";
                position: absolute;
                top: 15px;
                left: 15px;
                width: 15px;
                height: 15px;
                border: 2px solid $green;
                background: #fff;
                border-radius: 2px;
            }
        }

       
    }
}

.service-text {
    flex: 0 0 70%;
    width: 70%;

    h3 {
        font-size: 14px;
        line-height: 1.44;
        font-weight: 700;
        color: #555;
        padding-right: 50px;
    }

    p {
        font-size: 13px;
        line-height: 1.66;
        font-weight: 400;
        color: #aaa;
        margin-top: 3px;
    }

    @media #{$tophonesmall} {
        flex: 0 0 60%;
        width: 60%;
    }
}

.service-fee {
    
    span {
        font-size: 12px;
        color: #555;
        text-transform: capitalize;
        font-weight: 400;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #fe5175;
        text-transform: uppercase;

        @media #{$tophonesmall} {
            font-size: 12px;
        }

        span {
            font-size: 20px;
            color: #fe5175;

            @media #{$tophonesmall} {
                font-size: 18px;
            }
        }
    }
}

.field-item-inner {
    padding: 15px 15px 15px 40px;
    margin-top: 10px;
}

.field-item-textarea {
    margin-bottom: 20px;

    label {
        font-size: 13px;
        color: #555;
        margin-bottom: 6px;
        letter-spacing: .04em;
        padding-left: 15px;
        padding-right: 15px
    }

    textarea {
        height: auto;
        min-height: 36px;
        outline: none;
        overflow: auto;
        white-space: nowrap;
        resize: none;
        border: 1px solid #e5e5e5;
        color: #333;
        line-height: 1.5;
        padding: 6px 15px;

        @include textarea-placeholder {
            color: #BBBBCA;
        }
    }
}

.fieid-item-add {
    padding: 15px 15px 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;

    h5 {
        font-size: 13px;
        font-weight: 700;
        color: #555;
        display: block;
        text-decoration: underline;
        margin-bottom: 5px;
    }
}

.field-item-receiver {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @media #{$tophonesmall} {
        flex-flow: column;
    }
}

.field-receiver-input {
    flex: 0 0 49%;
    width: 49%;

    @media #{$tophonesmall} {
        flex: 0 0 100%;
        width: 100%;
    }

    label {
        font-size: 13px;
        color: #555;
        padding: 0 15px;
    }

    input {
        height: 36px;
        outline: none;
        overflow: auto;
        white-space: nowrap;
        resize: none;
        border: 1px solid #e5e5e5;
        color: #333;
        line-height: 1.5;
        padding: 6px 15px;

        @include input-placeholder {
            color: #BBBBCA;
        }
    }
}

.field-item-add-inner {
    
    p {
        font-weight: 400;
        font-size: 13px;
        text-transform: capitalize;
    }
}

.field-change-btn {

    button {
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        color: #783392;
        background-color: #fcbf14;
        border-color: #f3b403 #daa203 #c18f02;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#fdd86f,#fcbf14);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
        text-transform: capitalize;

        &:hover {
            color: #783392;
            background-color: #f3b403;
            background: linear-gradient(180deg,#fcbf14,#fcbf14);
        }
    }
}

.field-item-inner.ptl{
    padding-left: 30px;
    padding-top: 10px;
}

.make-payment-details {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @media #{$tophone} {
        flex-flow: column;
    }
}

.make-payment-left {
    flex: 0 0 48%;

    h4 {
        text-transform: uppercase;
        padding-left: 15px;
        font-size: 13px;
        margin-bottom: 6px;
        font-weight: 600;
    }
}

.make-payment-inner {
    border: 1px solid #e5e5e5;
    background-color: #fcfcfc;

    &:nth-child(2n + 1) {
        border-top: 0;
    }

    .field-item-main {

        label {

            &:before {
                // top: 18px;
            }

        }

        input {

            &:checked ~ label {

                &:before {
                    // top: 18px;
                }
            }
        }
    }
}

.make-payment-right {
    flex: 0 0 48%;

    @media #{$tophone} {
        margin-top: 15px;
    }

    h4 {
        text-transform: uppercase;
        padding-left: 15px;
        font-size: 13px;
        margin-bottom: 6px;
        font-weight: 600;
    }
}

.service-img {
    flex: 0 0 110px;
    width: 110px;
    margin-left: -30px;
    margin-top: -15px;

    img {
        width: 100%;
    }
}

.new-label {
    padding-bottom: 0 !important;
}

.field-payment-details {
    padding: 0 15px 15px 55px;

    p {
        font-size: 13px;
        line-height: 1.33;
        padding-bottom: 7px;
        margin-bottom: 8px;
    }
}

.pay-with-btn {

    button {
        width: 100%;
        font-size: 15px;
        height: 44px;
        padding: 0 15px;
        color: #fff;
        background-color: $green;
        border-color: #3aa15d #338f52 #2d7c48;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#57c27b,$green);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

        &:hover {
            color: #fff;
            background-color: #3aa15d;
            background: linear-gradient(180deg,#41b468,#41b468);
        }
    }
}

.new-payment-img {
    margin-top: 5px;

    ul {
        display: table;

        li {
            display: inline-block;
            width: 45px;
            height: 30px;
            border: 1px solid #ddd;
            background-color: #fff;
            overflow: hidden;
            border-radius: 6px;
            margin-right: 5px;
            margin-bottom: 5px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.hereby-text {
    margin-top: 15px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.44);
    text-align: center;

    a {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.44);
    }
}

.cart-full-box {
    background: #fff;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-flow: column;

    &.new-cart-full-box {
        position: absolute;
        top: -17px;
        right: -100%;
        height: 100%;
        width: 360px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: all 86ms ease-out 172ms;
        -o-transition: all 86ms ease-out 172ms;
        transition: all 86ms ease-out 172ms;

        &.active {
            right: 100%;
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            -webkit-transition: all 86ms ease-out 172ms;
            -o-transition: all 86ms ease-out 172ms;
            transition: all 86ms ease-out 172ms;
        }
    }
}

.order-title {
    padding: 20px 15px;
    position: relative;

    h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .delivery-title-icon {
        position: absolute;
        top: 18px;
        right: 15px;
        display: none;

        @media #{$todesktop} {
            display: block;
        }
    }
}

.section-details {

    .payment-row {
        display: flex;
        flex-flow: row;
    
        .col-md-8.col-sm-8 {
            flex: 0 0 70%;
            width: 70%;

            @media #{$todesktop} {
                flex: 0 0 100%;
                width: 100%;
            }
        }
    
        .col-md-4.col-sm-4 {
            flex: 0 0 30%;
            width: 30%;
        }
    }
}

.cart-order-inner {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
}

.cart-order-item {
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 10px 10px 0;
    margin-bottom: 20px;

    &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background: $v;
        left: -6px;
        top: 0;
        border-radius: 4px 0 0 4px;
    }
}

.cart-order-item-top {
    display: flex;
    flex-flow: row;

    figure {
        overflow: hidden;
        position: relative;
        background-color: rgba(0,0,0,.2);
        width: 70px;
        min-width: 70px;
        height: 53px;
        min-height: 53px;
        flex: 0 0 70px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.cart-order-title {

    p {
        color: #3a8bbb;
        font-weight: 400;
        font-size: 13px;
    }
}

.cart-order-item-bottom {
    border-top: 1px solid #eee;
    margin-top: 10px;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
            color: #888;
            font-size: 14px;
            padding: 5px 0;
            flex: 1;

            &:last-child {
                text-align: right; 
            }

            &:nth-child(2) {
                text-align: center;
            }
        }
    }
}

.qu-op-2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    // flex: 0 0 60px;
    // width: 60px;
    padding: 0 !important;

    button {
        height: 30px;
        width: 24px;
        background: #f1f1f1;
        color: rgba(0,0,0,.44);
        
        border: 0;

        &.deact {
            opacity: .55;
            cursor: default;
        }
    }

    input {
        padding: 0 6px;
        text-align: center;
    }
}

.card-order-save {
    border-top: 1px solid #eee;
    height: 31px;
    display: flex;
    align-items: center;

    p {
        color: #888;
        font-size: 13px;
    }
}

.cart-price-option {
    display: flex;
    flex-flow: column;
    padding: 0 15px;
}

.cart-price-sub {
    padding: 25px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
    h4, p {
        color: #333;
        font-size: 16px;
        font-weight: 400;
    }

    &:nth-child(n+2) {
        border-top: 1px solid #ddd;
    }
}

.red {
    color: $orange !important;
}

.big-sub {

    h4, p {
        font-size: 20px;
    }
}

.cart-coupon {
    margin: 0 15px 30px;
    border: 1px solid $newb;
    border-radius: 2px;
    padding: 2px;
    display: flex;
    flex-flow: row;

    input {
        padding: 6px 15px;
        font-size: 14px;
        flex: 1;

        @include input-placeholder {
            color: #c5c5c5;
        }
    }

    button {
        flex: 0.3;
        background: $newb;
        color: #fff;
        border: 1px solid $newb;
        font-size: 12px;
    }
}

// cart pop up

.modal-full-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

.cart-modal {
    position: absolute;
    top: 67px;
    right: -100%;
    height: 100%;
    width: 360px;
    background: #fff;
    padding: 0 20px;
    // transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 86ms ease-out 172ms;

    .cart-modal-title {
        padding: 25px 20px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }

    .cart-modal-icon {
        flex: 0 0 25px;
        width: 25px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    &.active {
        // transform: translateX(0);
        right: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transition: all 86ms ease-out 172ms;
    }

    @media #{$tophone} {
        top: 100px;
    }

    @media #{$tophonesmall} {
        width: 100%;
    }
}

.cart-pop-coupon {
    margin: 15px 0;
    padding: 0 15px;

    p {
        font-size: 13px;
        line-height: 1.55;
        color: rgba(0,0,0,.44);
    }
}

.cart-coupon-btn {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    a {
        color: $orange;
        transition: all 0.3s linear;
        flex: 0 0 40%;
        width: 100%;
        text-align: center;

        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }

    .pay-with-btn {
        flex: 0 0 60%;
        width: 100%;
    }
}

.fs {

    h4, p {
        font-size: 20px !important;
    }
}


.delivery-full-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    overflow: auto;
}

.delivery-modal {
    width: 100%;
    max-width: 520px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;

    @media #{$tophonesmall} {
        max-width: 100%;
        top: 0;
        margin-top: 0;
        height: 100vh;
        overflow: auto;
        min-height: 100%;
        position: fixed;
        left: 0;;
    }
}

.delivery-modal-title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

    h3 {
        color: #777;
        font-size: 14px;
        font-weight: 400;
    }

    .delivery-title-icon {
        cursor: pointer;
    }
}

.delivery-modal-inner {
    padding: 30px 30px 50px;
}

.delivery-modal-loc-input {

    p {
        padding-left: 0;
        padding-right: 0;
        color: #999;
        font-size: 13px;
        margin-bottom: 10px;
        text-align: left;
    }
}

.delivery-item-input-details {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.delivery-modal-loc-input-item {
    flex: 0 0 49%;
    width: 49%;
    margin-bottom: 20px;
}

.delivery-point {
    margin-bottom: 20px;

    p {
        padding-left: 0;
        padding-right: 0;
        color: #999;
        font-size: 13px;
        margin-bottom: 10px;
        text-align: left;
    }
}

.delivery-point-inner {
    display: flex;
    flex-flow: row;

    @media #{$tophone} {
        overflow-x: scroll;
    }
}

.delivery-point-item {
    flex: 0 0 110px;
    width: 110px;
    border: 3px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s linear;

    img {
        width: 100%;
        // height: 100%;
        object-fit: contain;
    }

    h4 {
        font-size: 12px;
        text-transform: capitalize;
        color: $orange;
    }

    &:hover {
        border-color: $newb;
    }

    &.active {
        border-color: $v;
    }
}

.delivery-point-details {
    margin-bottom: 20px;

    p {
        padding-left: 0;
        padding-right: 0;
        color: #999;
        font-size: 13px;
        margin-bottom: 10px;
        text-align: left;
    }
}

.delivery-agent-add {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;

    @extend .agent-add;

    figure {
        flex: 0 0 65px;
        width: 65px;
        height: 65px;

        figcaption {
            width: 40px;
            height: 40px;
        }
    }

    .agent-add-text {
        overflow: hidden;
        
        p {
            margin-bottom: 0;
            line-height: 1.66;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        h5 {
            text-align: left;
            font-size: 14px;
            line-height: 1.66;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.delivery-auth-btn {

    @extend .delivery-use-btn;
    text-align: left;
}

// profile home

.click-prof {
    position: relative;

    a {
        background: rgba(187, 207, 235, 0.2);
        color: #fff;
        text-decoration: none;
        display: block;
        border-radius: 50%;
        width: 25px;
        height: 25px;

        img {
            width: 100%;
            height: 100%;
            position: relative;
            top: -3px;
        }
    }

    &:hover {

       & > a {
            background: rgba(187, 207, 235, 0.5); 
        }

        .prop-dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }
}

.prop-dropdown {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 180px;
    left: auto;
    z-index: 100;
    padding: 10px 0;
    background-color: rgba(47,47,47,.98);
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-clip: padding-box;
    top: 100%;
    right: -8px;
    display: table !important;

    &:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 10px;
        border-color: transparent transparent rgba(47,47,47,.98) transparent;
        border-width: 10px;
        border-style: solid;
    }

    li {

        a {
            color: #aaa !important;
            display: block;
            padding: 5px 15px;
            width: 100% !important;
            height: auto !important;
            border-radius: 0;
            background: transparent;
            text-transform: capitalize;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.4;

            &:hover {
                background: #474544;
                color: #fff !important;
            }
        }

        &:nth-child(2) {
            border-top: 1px solid hsla(0,0%,100%,.14);
            margin-top: 5px;
            padding-top: 5px;
        }

        &:first-child {
            text-transform: capitalize;
        }
    }
}

.category-section-f .prop-dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    position: unset;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;

    &:before {
        content: none;
    }

    li {
        width: 100%;
        display: block;
        border-top: 1px solid #e5e5e5;
        margin: 0;
        padding: 0;

        a {
            transition: all 0.3s linear;
            font-size: 13px;
            padding: 20px 15px;
            color: #555 !important;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                background: rgba(0, 0, 0, 0.02);
            }
        }

        &.active {

            a {
                background-color: rgba(0, 0, 0, 0.02) !important;
            }
        }
    }
}

// dashboard

.dashboard-title {

    h2 {
        font-weight: 400;
        text-transform: none;
    }
}

.dashboard-section-item {

    ul {
        border-bottom: 0 !important;
    }

    li {
        
        a {
            font-weight: 400 !important;
        }
    }
}

.profile-title {
    margin-bottom: 10px;

    h2 {
        font-size: 24px;
        font-weight: 400;
        color: #333;
        text-transform: capitalize;
        line-height: 1.3;
    }
}

.profile-box {
    width: 100%;
    background: #fff;
    padding: 20px 30px 30px;
}

.profile-body {
    margin-top: 20px;
}

.profile-body-inner {
    max-width: 610px;
    display: flex;
    flex-flow: row;

    @media #{$tophone} {
        max-width: 100%;
        flex-flow: column-reverse;
    }
}

.profile-body-left {
    margin-right: 70px;
    flex: 1;

    @media #{$tophone} {
        margin-right: 0;
    }
}

.profile-tag {
    display: flex;
    flex-flow: row;
    align-items: center;

    h3 {
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
        flex: 1;
        margin-right: 5px;
    }

    p {
        font-size: 14px;
        margin-right: 5px;
    }
}

.profile-edit {
    border: 1px solid #d9d9d9;
    height: 32px;
    padding: 0 10px;
    font-size: 13px;
    color: $newb;
    background: #fff;
    transition: all 0.3s linear;
    // margin-left: 5px;
    // flex: 1;

    &:hover {
        border-color: $v;
    }
}

.profile-input {
    display: flex;
    flex-flow: row;
    
    input {
        font-size: 15px;
        font-weight: 700;
        background-color: #fff;
        padding: 0 15px;
        border-radius: 2px;
        border: 1px solid #e5e5e5;
        color: #333;
        transition: all .1s ease-out;
        width: 100%;
        flex: 1;
        height: 32px;
        text-transform: capitalize;

        &:focus {
            border-color: $v;
        }

        @include input-placeholder {
            color: #BDBEBB;
            font-weight: 400;
            font-size: 13px;
        }
    }
}

.profile-input-button {
    display: flex;
    flex-flow: row;
    margin-left: 5px;
    flex: 0 auto;

    button {
        border: 1px solid #d9d9d9;
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        color: $newb;
        background: #fff;
        transition: all 0.3s linear;

        &:first-child {
            margin-right: 5px;
            border-color: $green;
            color: $green;
        }

        &:last-child {

            &:hover {
                border-color: $v;
            }
        }
    }
}

.profile-number-box {
    margin-top: 25px;

    h3 {
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

.current-number {
    background: #f5f5f5;
    padding: 0 15px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;

    p {
        font-size: 14px;
    }
}

.extra-mt {
    margin-top: 6px;
}

.profile-body-right {
    max-width: 180px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;

    @media #{$tophone} {
        max-width: 100%;
        // flex-flow: column-reverse;
        margin-bottom: 20px;
    }
}

.profile-body-image {
    width: 150px;
    height: 150px;
    background-color: $vshadowlow;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    color: #fff;

    img {
        width: 100%;
        height: 100%;
    }
}

.image-social-btn {
    width: fit-content;
    margin: 10px auto 0;

    button {
        height: 32px;
    }
}

.order-table-full {

    .order-table {

        overflow-x: scroll;

        table {
            width: 100%;

            th {
                display: table-cell;
                padding: 10px 1.4rem;
                line-height: 1.3;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.4);
                font-weight: 400;
                height: 50px;
                vertical-align: text-top;
            }

            thead {

                tr {

                    &:hover {
                        background: #f5f5f5;
                    }
                }
            }

            tbody {

                tr {
                    border-top: 1px solid rgba(0,0,0,.06);
                    font-size: 13px;
                    height: 50px;

                    td {
                        padding: 10px 1.4rem;
                    }

                    a {
                        color: #347da8;
                    }

                    &:hover {
                        background: #f5f5f5;
                    }
                }
            }
        }
    }
}

.order-details {
    color: #fff !important;
    font-size: 13px;
    padding: 3px 10px;
    height: 24px;
    border-radius: 2px;
    display: block;
    width: fit-content;
    background-color: #333;
    border-color: #262626 #1a1a1a #0d0d0d;
    border-style: solid;
    border-width: 1px;
    background: linear-gradient(180deg,#6594d4,$v);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

    &:hover {
        background-color: #262626;
        background: linear-gradient(180deg,$v,#6594d4);
        text-decoration: none;
    }
}

.order-back {

    img {
        cursor: pointer;
    }
}

.order-details-title {
    margin-top: 10px;

    h2 {
        font-size: 24px;
        line-height: 1;
        color: $newb;
        font-weight: 400;
    }

    p {
        line-height: 1.66;
    }
}

.order-type {
    font-size: 14px;
}

.order-date {
    font-size: 14px;
    color: #999;
}

.dash-order-full-cart {
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;

    @media #{$tophone} {
        flex-flow: column;
    }
}

.dash-order-cart-left {
    flex: 1;
    margin-right: 80px;

    @media #{$tophone} {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.dash-order-full-cart {
    

    .order-title {
        color: $orange;
        padding: 0;
        padding-bottom: 25px;
    }

    .cart-order-inner {
        padding: 0 6px;
    }

    .cart-price-option {
        padding-left: 0;
    }
}

.dash-order-payment {
    margin-bottom: 50px;
}

.order-payment-title {

    p {
        font-size: 16px;
        color: #ee395f;
        line-height: 1.3;
        margin-bottom: 10px;
    }
}

.order-payment-status { 

    p {
        font-size: 16px;
        color: #333;
        line-height: 1.3;
    }
}

.order-payment-slot {
    margin-top: 25px;

    p {
        font-size: 14px;
    }
}

.order-payment-btn {
    margin-top: 10px;

    button {
        height: 32px;
        padding: 0 20px;
        font-size: 15px;
        color: #fff;
        background-color: #41b468;
        border-color: #3aa15d #338f52 #2d7c48;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#57c27b,#41b468);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

        &:hover {
            background-color: #3aa15d;
            background: linear-gradient(180deg,#41b468,#41b468);
        }
    }
}

.dash-order-cart-right {
    flex: 1;
}

.delivery-info-box-selection {
    margin-bottom: 20px;

    h3 {
        font-size: 14px;
        font-weight: 700;
        color: #555;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        color: #aaa;
        margin-top: 3px;
    }
}

.delivery-info-add {

    .fieid-item-add {
        border: 0;
        padding: 0;
    }
}

.order-payment {
    color: #fff !important;
    background-color: #41b468;
    border-color: #3aa15d #338f52 #2d7c48;
    border-style: solid;
    border-width: 1px;
    background: linear-gradient(180deg,#57c27b,#41b468);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);
    padding: 3px 10px;
    height: 24px;
    border-radius: 2px;
    font-size: 13px;
    margin-right: 5px;

    &:hover {
        color: #fff;
        background-color: #3aa15d;
        background: linear-gradient(180deg,#41b468,#41b468);
        text-decoration: none;
    }
}

.order-flex {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.no-order-box {
    margin-top: 30px;
    padding: 70px 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);

    p {
        font-size: 21px;
        line-height: 1.33;
        color: rgba(0,0,0,.4);
    }
}

.address-body {
    max-width: 735px;
}

.current-add {
    padding: 13px 15px;
    background-color: #f5f5f5;
    margin-bottom: 20px;

    .fieid-item-add {
        border: 0;
        padding: 0;
        background: transparent;
        flex: 1;

        &.active {

            h5 {
                text-decoration: none;
                color: #ccc;
            }
        }
    }

    &.active {
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        background-color: #fff !important;
    }
}


.new-address-input {
    padding: 13px 15px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);

    &.active {
        background-color: #f5f5f5;
        border: 0;
        box-shadow: none;
    }
}

.new-add-show-field {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    h5 {
        text-decoration: none;
        color: #ccc;
        font-size: 13px;
        font-weight: 700;
        display: block;
        text-decoration: none;
        margin-bottom: 5px;
    }

    &.active {

        h5 {
            color: #555;
            text-decoration: underline;
        }
    }
}

.new-add-show-field-item {
    flex: 1;
}

.new-add-show-details {
    
    p {
        font-weight: 400;
        font-size: 13px;
        text-transform: capitalize;
    }
}

.current-pad {
    padding: 10px 15px;
}

.current-add-main {
    font-style: normal;
    line-height: 1.5;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.address-state {

    button {
        font-size: 12px;
        height: 22px;
        padding: 0 5px;
        border: none;
        color: #777;
        background: transparent;
        border: 0;
    }

    span {
        color: #777;
    }
}

.al-value {
    cursor: default;

    &:active {
        border-color: $v;
    }

    &:disabled {
        background: #fcfcfc;

        
    }
}

.current-address-form {

    textarea, input {
        transition: all 0.3s linear;
        
        &:focus {
            border-color: $v !important;
        }
    }
}

.field-receiver-input {
    margin-bottom: 20px;
}

.current-add-btn {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    button {
        border: 1px solid #d9d9d9;
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        color: #555;
        background: #fff;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;

        &:first-child {
            margin-right: 5px;
            border-color: #57c27b;
            color: #57c27b;
        }

        &:hover {
            &.current-cancel {
                border-color: $v;
            }
        }
    }
}

.new-add-btn {

    button {
        border: 1px solid #d9d9d9;
        height: 32px;
        padding: 0 10px;
        font-size: 13px;
        color: #555;
        background: #fff;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;

        &:hover {
            border-color: $v;
        }
    }
}

.current-add-relative {
    position: relative;
}

.add-del {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253,231,236,.85);
    border: 1px solid #fac4d0;
    padding: 15px;
    display: none;

    &.active {
        display: block;
    }
}

.add-del-inner {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: flex-end;

    p {
        color: #ee395f;
        font-size: 14px;
        line-height: 1.5;
    }
}

.add-del-inner-btn {
    margin-left: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    


    button {
        height: 32px;
        padding: 0 10px;
        color: #fff;
        border: 1px solid $newb;

        &:first-child {
            background-color: #ee395f;
            border-color: #ee395f;
            margin-right: 5px;
        }

        &:last-child {
            background-color: $newb;
            border-color: $newb;
            margin-right: 5px;
        }
    }
}

.cart-full-indi {
    display: none;
}

.cart-empty {
    text-align: center;
    padding: 0 15px;
}

.empty-cart-title {

    h3 {
        font-size: 21px;
        color: #333;
        margin-top: 20px;
        font-weight: 400;
        text-transform: capitalize;
    }

    p {
        font-size: 16px;
        line-height: 1.4;
        color: #bbb;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.back-shop {

    button {
        width: 100%;
        padding: 10px 20px;
        color: #fff;
        background-color: #41b468;
        border-color: #3aa15d #338f52 #2d7c48;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(180deg,#57c27b,#41b468);
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.4);

        &:hover {
            color: #fff;
            background-color: #3aa15d;
            background: linear-gradient(180deg,#41b468,#41b468);
        }
    }
}

.main-section-abs {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0 , 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
    
    .move-sec {
        position: absolute;
        top: 56px;
        padding: 0;
        left: -100%;
        transition: all 0.3s ease-in;
        width: 280px;
        overflow-y: scroll;
        height: 100vh;
        background: #fff;

        @media #{$tophone} {
            top: 90px;
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transition: all 0.3s linear;

        .move-sec {
            left: 0;
            transition: all 0.3s ease-in;
        }
    }
}


.hide {
    display: block !important;

    @media #{$todesktop} {
        display: none !important;
    }
}

// empty cart 

.cart-empty {
    padding-top: 80px;
}

.empty-img  {
    display: block;
    width: 120px;
    margin: auto;

    figure {

        img {
            width: 100%;
        }
    }
}

.empty-text {
    margin-top: 15px;

    p {
        display: block;
        font-size: 15px;
    }
}

.about-banner {

    img {
        width: 100%;
    }
}

.field-label-pad {
    padding-left: 40px !important;
}

.service-fee {
    flex: 0 0 90px;
    width: 90px;
    text-align: right;
}